body
{
	background: #24497e url("../img/blueprint.png");
}

#runtime
{
	display: none;
}

.modal.fade
{
    -webkit-transition: opacity .1s linear, none;
    -moz-transition: opacity .1s linear, none;
    -ms-transition: opacity .1s linear, none;
    -o-transition: opacity .1s linear, none;
    transition: opacity .1s linear, none;
    top: 10%;
}

.modal.fade.in
{
	top: 10%;	
}

.paper, .popover, .modal-content
{
	background: linear-gradient(white, hsl(0, 0%, 95%) 80px);
	border-radius: 4px;
}

.popover .popover-title
{
	display: none;
}

.shadow
{
	box-shadow: 0 5px 10px hsl(0, 0%, 20%);
}
