body
{
	padding-top: 60px;
}

#storyListView table h4
{
	float: left;
	margin-top: 0;
}

#storyListView table p.buttons
{
	float: right;
}

#storyEditView .controls
{
	position: fixed;
	top: 60px;
	right: 20px;
	background-color: rgba(0, 0, 0, 0.2);
	padding: 0.5em;
	border-radius: 0.5em;
	z-index: 1;
}

#storyEditView .passages
{
	position: relative;
}

#storyEditView .passage
{
	position: absolute;
	width: 10em;
}

#storyEditView .passage .frame
{
	height: 10em;
	border-radius: 0.5em;
	background-color: white;
	box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
	padding: 0.5em;
}

#storyEditView .passage .buttons
{
	visibility: hidden;
	text-align: right;
	margin-top: 0.5em;
}

#storyEditView .passage:hover .buttons
{
	visibility: visible;
}

#passageEditDialog textarea
{
	height: 20em;
}

.modal.fade
{
    -webkit-transition: opacity .1s linear, none;
    -moz-transition: opacity .1s linear, none;
    -ms-transition: opacity .1s linear, none;
    -o-transition: opacity .1s linear, none;
    transition: opacity .1s linear, none;
    top: 10%;
}

.modal.fade.in
{
	top: 10%;	
}
