@font-face {
    font-family: 'Cousine';
    src: url('../font/cousine.eot');
    src: url('../font/cousine.eot?#iefix') format('embedded-opentype'),
         url('../font/cousine.woff') format('woff'),
         url('../font/cousine.ttf') format('truetype'),
         url('../font/cousine.svg#cousineregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@keyframes fadeIn
{
	from
	{
		opacity: 0;
	}

	to
	{
		opacity: 1;
	}
}

@-webkit-keyframes fadeIn
{
	from
	{
		opacity: 0;
	}

	to
	{
		opacity: 1;
	}
}

@keyframes fadeOut
{
	from
	{
		opacity: 1;
	}

	to
	{
		opacity: 0;
	}
}

@-webkit-keyframes fadeOut
{
	from
	{
		opacity: 1;
	}

	to
	{
		opacity: 0;
	}
}

@keyframes appear
{
	from
	{
		transform: scale(0.5, 0.5);
		opacity: 0;
	}

	to
	{
		transform: scale(1, 1);
		opacity: 1;
	}
}

@-webkit-keyframes appear
{
	from
	{
		-webkit-transform: scale(0.5, 0.5);
		opacity: 0;
	}

	to
	{
		-webkit-transform: scale(1, 1);
		opacity: 1;
	}
}

@keyframes disappear
{
	from
	{
		transform: scale(1, 1);
		opacity: 1;
	}

	to
	{
		transform: scale(0, 0);
		opacity: 0;
	}
}

@-webkit-keyframes disappear
{
	from
	{
		-webkit-transform: scale(1, 1);
		opacity: 1;
	}

	to
	{
		-webkit-transform: scale(0, 0);
		opacity: 0;
	}
}

@keyframes fallIn
{
	from
	{
		transform: scale(1.5, 1.5);
		opacity: 0;
	}

	to
	{
		transform: scale(1, 1);
		opacity: 1;
	}
}

@-webkit-keyframes fallIn
{
	from
	{
		-webkit-transform: scale(1.5, 1.5);
		opacity: 0;
	}

	to
	{
		-webkit-transform: scale(1, 1);
		opacity: 1;
	}
}

@keyframes slideDown
{
	from
	{
		transform: translate(0, -100px);
		opacity: 0;
	}

	to
	{
		transform: translate(0, 0);
		opacity: 1;
	}
}

@-webkit-keyframes slideDown
{
	from
	{
		-webkit-transform: translate(0, -100px);
		opacity: 0;
	}

	to
	{
		-webkit-transform: translate(0, 0);
		opacity: 1;
	}
}

body
{
	background: #24497e url("../img/blueprint_large.png") 10px -15px;
}

#runtime
{
	display: none;
}

.paper
{
	background-color: #f8f8f8;
	border-radius: 4px;
}

.popover .popover-title
{
	display: none;
}

.shadow
{
	box-shadow: 0 5px 10px hsl(0, 0%, 20%);
}

.appear
{
	animation: 0.4s appear;
	-webkit-animation: 0.4s appear;
}

.disappear
{
	animation: 0.4s disappear;
	-webkit-animation: 0.4s disappear;
}

.fadeIn
{
	animation: 0.4s fadeIn;
	-webkit-animation: 0.4s fadeIn;
}

.fadeOut
{
	animation: 0.4s fadeOut;
	-webkit-animation: 0.4s fadeOut;
}

.fallIn
{
	animation: 0.4s fallIn;
	-webkit-animation: 0.4s fallIn;
}

.slideDown
{
	animation: 0.4s slideDown;
	-webkit-animation: 0.4s slideDown;
}
