#storyEditView.scrolling
{
	cursor: all-scroll;
	cursor: -webkit-grab;
	cursor: -moz-grab;
}

#storyEditView.draggingPassages *,
#storyEditView.marqueeing *
{
	cursor: default !important;
}

#storyEditView.draggingPassages .popover,
#storyEditView.marqueeing .popover
{
	display: none !important;
}

#storyEditView .toolbar.main
{
	z-index: 5;
	position: fixed;
	overflow: visible;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 3.5em;
	background-color: white;
	box-shadow: 0 0 1em hsl(0, 0%, 15%);
}

#storyEditView .toolbar.main .right button
{
	height: 3.5em;
	padding-left: 1em;
	padding-right: 1em;
}

#storyEditView .toolbar.main .left
{
	float: left;
}

#storyEditView .toolbar.main .right
{
	float: right;
}

#storyEditView .toolbar.main .home
{
	position: relative;
	top: -1em;
	font-size: 125%;
	padding-left: 0.75em;
	padding-right: 0.325em;
}

#storyEditView .toolbar.main .storyName
{
	min-width: 8em;
	text-align: left;
	font: 150% "Nunito Light", sans-serif;
	height: 2.4em; 
	padding: 0em 0.325em;
}

#storyEditView .toolbar.main .searchContainer
{
	float: left;
	position: relative;
	top: 0.75em;
	margin-right: 1em;
}

#storyEditView .toolbar.main .searchContainer input
{
	display: inline;
	width: 11em;
	padding-right: 2.25em;
}

#storyEditView .toolbar.main .searchContainer button
{
	position: absolute;
	top: -0.05em;
	right: 0.35em;
	padding: 0.5em;
	height: 1.5em;
}

#storyEditView .toolbar.main .searchContainer button:hover
{
	background: transparent;
}

#storyEditView .marquee
{
	display: none;
	z-index: 3;
	position: absolute;
	border: 2px dashed hsla(0, 0%, 100%, 0.5);
}

#storyEditView .passages
{
	position: relative;
	background: #24497e url("../img/blueprint_large.png") 10px -15px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* all passage CSS is in px because we need it to match
   the blueprint background image */

#storyEditView .passage
{
	position: absolute;
	padding: 5px;
	color: hsla(0, 0%, 100%, 0.75);
	cursor: default;
}

#storyEditView .passage:hover
{
	z-index: 2;
}

#storyEditView.scrolling .passage:hover,
#storyEditView.draggingPassages .passage:hover
{
	z-index: 0;
}

#storyEditView .passage .frame
{
	border: 1px solid hsla(0, 0%, 100%, 0.75);
	box-shadow: 0 0 2px hsla(0, 0%, 100%, 0.75), inset 0 0 2px hsla(0, 0%, 100%, 0.75);

	width: 100px;
	height: 100px;
	position: relative;
	overflow: hidden;
}

#storyEditView .passage.brokenLink .frame
{
	background-color: hsla(0, 100%, 60%, 0.5);
}

#storyEditView .passage.selected .frame
{
	color: hsla(0, 0%, 100%, 1);
	background-color: hsla(0, 0%, 100%, 0.25);
}

#storyEditView .passage.highlight .frame
{
	color: hsl(60, 100%, 50%);
	border-color: hsla(60, 100%, 50%, 0.75);
	box-shadow: 0 0 2px hsla(60, 100%, 50%, 0.75), inset 0 0 2px hsla(60, 100%, 50%, 0.75);
}

#storyEditView .passage .frame:after
{
	content: '';
	display: block;
	width: 100px;
	height: 1px;
	position: absolute;
	top: 22px;
	left: 0;
	background-color: hsla(0, 0%, 100%, 0.75);
	box-shadow: 0 0 1px hsla(0, 0%, 100%, 0.75), inset 0 0 1px hsla(0, 0%, 100%, 0.75);
}

#storyEditView .passage.highlight .frame:after
{
	background-color: hsl(60, 100%, 50%);
	box-shadow: 0 0 1px hsla(60, 100%, 50%, 0.75), inset 0 0 1px hsla(60, 100%, 50%, 0.75);
}

#storyEditView .passage .title
{
	font-size: 11px;
	line-height: 15px;
	padding: 4px 4px 0 4px;
	height: 24px;
	margin: 0;
	box-sizing: border-box;
}

#storyEditView .passage .excerpt
{
	font-size: 10px;
	line-height: 14px;
	padding: 4px;
	margin: 0;
	overflow: hidden;
}

#storyEditView .passage .bubble
{
	font-size: 150%;
	width: 9.1em;
	margin-left: -4.5em;
}

#storyEditView.scrolling .passage:hover .bubble,
#storyEditView.draggingPassages .passage:hover .bubble
{
	display: none;
}

body.zoom-medium
{
	background-image: url('../img/blueprint_medium.png');
	background-position: 10px 10px;
}

.zoom-medium #storyEditView .passage .frame
{
	width: 60px;
	height: 60px;
}

.zoom-medium #storyEditView .passage .title
{
	border-bottom: none;
	font-size: 0.8em;
	font-weight: normal;
	line-height: 120%;
	text-align: center;
	margin: 5px;
	padding: 0;
	height: 60px;
	width: 60px;
	display: table-cell;
	vertical-align: middle;
}

.zoom-medium #storyEditView .passage .excerpt
{
	display: none;
}

.zoom-medium #storyEditView .passage .frame:after
{
	display: none;
}

body.zoom-small
{
	background-image: url('../img/blueprint_small.png');
	background-position: -15px 10px;
}

.zoom-small #storyEditView .passage .frame
{
	width: 25px;
	height: 25px;
}

.zoom-small #storyEditView .passage .title, .zoom-small #storyEditView .passage .excerpt
{
	display: none;
}

.editModal
{
	bottom: 0;
	width: 50em;
	padding-bottom: 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.editModal input[type="text"], textarea, .CodeMirror
{
	font-family: Cousine, monospace;
	line-height: 145%;
	background: inherit;
}

.editModal .fullEdit
{
	position: absolute;
	top: 6.5em;
	left: 0;
	right: 0;
	bottom: 0;
}

.editModal .fullEdit textarea,
.editModal .fullEdit .CodeMirror
{
	padding: 0.75em 2em 0.25em 2em;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	border: none;
	box-shadow: none;
	background: linear-gradient(to bottom, hsl(0, 0%, 90%) 0, hsl(0, 0%, 97%) 0.5em);
	resize: none;
}

#passageEditModal .passageName
{
	display: block;
	width: 100%;
	font-size: 125%;
}

#passageEditModal .passageTags
{
	margin-top: -0.5em;
	font-size: 90%;
}

#passageEditModal .passageTags p
{
	margin-top: 0;
}

#passageEditModal .fullEdit
{
	top: 6.5em;
}

#searchModal textarea
{
	display: block;
	width: 100%;
	box-sizing: border-box;
}

#searchModal .passageName
{
	margin: 0.125em inherit;
}

#searchModal .passageName .controls
{
	float: right;
}

#searchModal pre
{
	font: 100% Cousine, monospace;
	white-space: pre-wrap;
	max-height: 5em;
	overflow: auto;
	background-color: hsl(0, 0%, 95%);
	padding: 0.5em;
	margin-top: 0;	
}

#searchModal .resultSummary .matches
{
	line-height: 250%;
}

#searchModal .resultSummary .controls
{
	float: right;
}

#searchModal .highlight
{
	background-color: hsl(60, 100%, 50%);
}

.CodeMirror
{
	height: auto;
}
