#welcomeView > div
{
	display: none;
	position: absolute;
	top: 1%;
	left: 22.5%;
	padding: 20px;
	width: 55%;
	margin: 20px auto 0 auto;
	box-sizing: border-box;
}

#welcomeView h1
{
	text-align: center;
	padding-top: 220px;
	background-position: top center;
	background-repeat: no-repeat;
}

#welcomeView .hi h1
{
	background-image: url('../img/welcome_logo.png');
}

#welcomeView .hi aside
{
	float: right;
	margin-top: 0.5em;
}

#welcomeView .alpha h1
{
	/* http://thenounproject.com/term/construction/5853/ */
	background-image: url('../img/welcome_alpha.png');
}

#welcomeView .save h1
{
	/* http://thenounproject.com/term/document/12036/ */
	background-image: url('../img/welcome_save.png');
}

#welcomeView .help h1
{
	/* http://thenounproject.com/term/question/2036/ */
	background-image: url('../img/welcome_help.png');
}

#welcomeView .thanks h1
{
	/* http://thenounproject.com/term/smile/10696/ */
	background-image: url('../img/welcome_thanks.png');
}

#welcomeView p
{
	font-size: 120%;
}

#welcomeView .buttons
{
	text-align: center;
}

/* taken from https://github.com/daneden/animate.css/blob/master/animate.css */

@-webkit-keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(.3);
    transform: scale(.3);
  }

  50% {
    opacity: 1;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }

  70% {
    -webkit-transform: scale(.9);
    transform: scale(.9);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(.3);
    -ms-transform: scale(.3);
    transform: scale(.3);
  }

  50% {
    opacity: 1;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
  }

  70% {
    -webkit-transform: scale(.9);
    -ms-transform: scale(.9);
    transform: scale(.9);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

.bounceIn {
  -webkit-animation: 0.5s bounceIn;
  animation: 0.5s bounceIn;
}
