@import '../../styles/colors.css';

.tag-button.color-red .menu-button .icon-button svg {
	color: var(--red);
}

.tag-button.color-orange .menu-button .icon-button svg {
	color: var(--orange);
}

.tag-button.color-yellow .menu-button .icon-button svg {
	color: var(--yellow);
}

.tag-button.color-green .menu-button .icon-button svg {
	color: var(--green);
}

.tag-button.color-blue .menu-button .icon-button svg {
	color: var(--blue);
}

.tag-button.color-purple .menu-button .icon-button svg {
	color: var(--purple);
}
