<div class="bubble left">
	<div class="form">
	<p>
	<%= s('Import this file:') %>
	</p>

	<p>
	<input class="importFile" type="file">
	</p>

	<p>
	<button data-bubble="hide"><i class="fa fa-times"></i> <%= s('Cancel') %></button>
	</p>
	</div>

	<div class="working hide">
	<p>
	<i class="fa fa-2x fa-circle-o-notch fa-spin"></i>
	</p>
	<p>
	<%= s('Importing...') %>
	</p>
</div> <!-- .bubble -->
