<div class="large">
	<%- content %>
</div>

<footer>
	<button class="cancel" data-modal="close"><i class="fa fa-times"></i> <%- cancelLabel %></button>
	<button class="raised <%- confirmClass %>" data-action="yes" data-modal="close"><%- confirmLabel %></button>
</footer>
