<div class="uploadModal">
	<div class="large">
		<%- content %>
	</div>

	<footer>
		<button class="cancel" data-modal="close"><i class="fa fa-times"></i> <%- cancelLabel %></button>
		<button class="raised fileChooser <%- confirmClass %>"><%- confirmLabel %><input type="file"></button>
	</footer>
</div>
