@import '../../styles/animations.css';
@import '../../styles/metrics.css';

.dialogs {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	max-width: calc(100% -  2 * var(--grid-size));
	min-width: 600px;
	pointer-events: none;
	position: fixed;
	bottom: var(--grid-size);
	right: var(--grid-size);
	top: calc(
		2 * var(--control-height) + var(--grid-size)
	); /* below <top-bar> height */
}

.dialogs .dialog-card {
	flex: 1;
	pointer-events: auto;
}

.dialogs .dialog-card + .dialog-card {
	margin-top: var(--grid-size);
}

.dialogs .dialog-card.collapsed,
.dialogs .dialog-card.fixed-size {
	flex: 0;
}
