{
	"env": {
		"browser": true,
		"es6": true,
		"commonjs": true,
		"node": true
	},
	"extends": ["eslint:recommended", "plugin:jest/recommended"],
	"parserOptions": {
		"ecmaVersion": 8,
		"sourceType": "module"
	},
	"plugins": ["jest"],
	"rules": {
		"newline-after-var": [2, "always"],
		"no-console": [2, {"allow": ["warn"]}],
		"no-mixed-spaces-and-tabs": [2, "smart-tabs"]
	}
}
