<!DOCTYPE html>
<html>
<head>
<title>Storybook</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8">
<link href="bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
<link href="fontawesome/css/font-awesome.css" rel="stylesheet" media="screen">
<link href="css/storyview.css" rel="stylesheet" media="screen">
<link href="css/app.css" rel="stylesheet" media="screen">
</head>

<body>

<div id="regions">
<div class="main"></div>
</div>

<div id="templates">

<script type="text/html" class="storyListView">
<div id="storyListView" class="container">

<div class="navbar navbar-fixed-top">
<div class="navbar-inner">
<div class="container">

<ul class="nav">
<li class="active"><a href="#stories"><i class="icon-home icon-large"></i> Stories</a></li>
</ul>

</div>
</div>
</div>

<table class="table table-bordered">
<tbody>
</tbody>
</table>

<p class="form-inline">
<a href="#addDialog" class="btn btn-success" data-toggle="modal">
<i class="icon-plus icon-white"></i>
Add New Story
</a>
</p>

</div>

<div id="addDialog" class="modal hide fade">
<div class="modal-body">
<p>
<b>What should your new story be named?</b>
<p>
<input class="newName" type="text">
</p>
</div>

<div class="modal-footer">
<button class="btn" data-dismiss="modal">Cancel</button>
<button class="add btn btn-primary">Add</button>
</div>
</div>

</script>

<script type="text/html" class="storyItemView">
<td>
<h4>
<a href="javascript:void(0)" class="edit"><%- name %></a>
</td>

<td class="buttons">

<button class="edit btn" title="Edit &ldquo;<%- name %>&rdquo;">
<i class="icon-pencil icon-large"></i>
</button>

<button class="delete btn btn-danger" title="Delete &ldquo;<%- name %>&rdquo;">
<i class="icon-trash icon-large icon-white"></i>
</button>

</td>
</script>

<script type="text/html" class="storyEditView">
<div id="storyEditView">
<div class="navbar navbar-fixed-top">
<div class="navbar-inner">
<div class="container">

<ul class="nav">
<li><a href="#stories"><i class="icon-home icon-large"></i> Stories</a></li>
<li class="active"><a href="#stories/<%= id %>"><%- name %></a></li>
</ul>

<div class="pull-right">
<button class="storyProperties btn">
<i class="icon-cog"></i> Properties
</button>

<button class="playStory btn">
<i class="icon-play"></i> Play
</button>

</div>

</div>
</div>
</div>

<div class="controls">
<button class="add btn" title="Add New Passage">
<i class="icon-plus icon-2x"></i>
</button>
</div>

<div class="passages"></div>
</div>

<div id="passageEditDialog" class="modal hide" data-backdrop="false">
<input type="hidden" id="passageId">

<div class="modal-body">

<button class="savePassage btn close" data-dismiss="modal">
&times;
</button>

<div class="form-inline">

<p class="control-group">
<label for="passageName">Name</label>
<input type="text" id="passageName" value="">
</p>

<p class="control-group">
<textarea id="passageText" class="span6"></textarea>
</p>

</div>
</div>
<div class="modal-footer">

<button class="btn savePassage">
<i class="icon-ok"></i> Done
</button>

</div>
</div>

<div id="storyPropertiesDialog" class="popover">
<div class="form-inline">

<p class="control-group">
<label for="storyName">Name</label>
<input type="text" id="storyName" value="<%- name %>">
</p>

<p class="control-group">
<label for="startPassage">Start At</label>

<select id="startPassage">
<option>What</option>
<option>Hmm</option>
</select>
</p>

<p class="control-group">
<button class="btn">
<i class="icon-font"></i>
Stylesheet
</button>

<button class="btn">
<i class="icon-cogs"></i>
JavaScript
</button>
</p>

</div>
</div>

</script>

<script type="text/html" class="passageItemView">
<div class="frame">
<h5><%- name %></h5>
<p class="excerpt"><%= excerpt %></p>
</div>

<p class="buttons">
<button class="btn edit" title="Edit &ldquo;<%- name %>&rdquo;">
<i class="icon-pencil"></i>
</button>
<button class="btn btn-danger delete" title="Delete &ldquo;<%- name %>&rdquo;">
<i class="icon-trash"></i>
</button>
</p>
</script>

</div>

<script src="js/lib/jquery.js"></script>
<script src="js/lib/jquery.ui.js"></script>
<script src="js/lib/json2.js"></script>
<script src="js/lib/underscore.js"></script>
<script src="bootstrap/js/bootstrap.js"></script>
<script src="js/lib/backbone.js"></script>
<script src="js/lib/backbone.localstorage.js"></script>
<script src="js/lib/backbone.marionette.js"></script>

<script src="js/models/story.js"></script>
<script src="js/models/passage.js"></script>

<script src="js/collections/storycollection.js"></script>
<script src="js/collections/passagecollection.js"></script>

<script src="js/views/passageeditview.js"></script>
<script src="js/views/passageitemview.js"></script>
<script src="js/views/storyitemview.js"></script>
<script src="js/views/storyeditview.js"></script>
<script src="js/views/storylistview.js"></script>

<script src="js/router.js"></script>
<script src="js/app.js"></script>

</body>
</html>
