<!DOCTYPE html>
<html>
<head>
<title>Twine</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8">
<link href="css/app.css" rel="stylesheet" media="screen">
</head>

<body>

<div id="regions">
<div class="main"></div>
</div>

<div id="templates">

<script type="text/html" class="storyListView">
<div id="storyListView" class="container">

<div class="navbar navbar-fixed-top">
<div class="navbar-inner">
<div class="container">

<ul class="nav">
<li class="active"><a href="#stories"><i class="icon-home icon-large"></i> Stories</a></li>
</ul>

<div class="pull-right">
<button class="saveArchive btn" title="Download a backup archive of all your stories" data-placement="bottom">
<i class="icon-suitcase icon-white"></i>
Archive
</button>
</div>

</div>
</div>
</div>

<div class="alert">

<p>
<i class="icon-warning-sign icon-4x pull-left" style="padding-bottom: 0.5em"></i>
<b>This is not even an alpha-quality release</b> and may eat your work at any
point. Use the Archive button (in the top-right corner) liberally to prevent heartbreak.
All data is stored in your browser's local storage, so if you visit this site
with a different browser, you won't see anything. Likewise, if you delete the
local storage for this site (e.g. clear browsing history), everything saved
here will disappear in a poof of regret forever. 
</p>

<p>
Lots of stuff is left to be done. Some obvious things: arrows for passage connections,
snap to grid, JS/CSS editing, zoom, preventing passage
overlap, dragging passages on mobile browsers. Markdown syntax works in passages, but only
the &lt;&lt;set&gt;&gt;, &lt;&lt;print&gt;&gt;, and &lt;&lt;if&gt;&gt; macros work. (You can
only use a single if statement for now -- no nesting or else statements.)
</p>

<p>
Thanks for trying this out! Please post feedback to
the <a href="https://groups.google.com/forum/#!forum/tweecode">discussion group</a>.

I've made the repos for the <a
href="https://bitbucket.org/klembot/twinejs">app</a> and <a
href="https://bitbucket.org/klembot/harlowe">template</a> available.
Contributions are welcome! &mdash; Chris
</p>

</div>

<div class="alert alert-info intro hide">

<h3>Welcome to Twine!</h3>

<p>
To get started, create a new story
by clicking the <b>New Story</b> button below.
</p>

</div>

<table class="table table-bordered">
<tbody>
</tbody>
</table>

<p class="form-inline">
<button class="addStory btn btn-success" title="Create a brand-new story">
<i class="icon-plus icon-white"></i>
New Story
</button>

<button class="importStory btn" title="Import a published story file or archive">
<i class="icon-upload-alt"></i>
Import
</button>

</div>

<div id="addStoryDialog" class="hide">
<p>
What should your story be named?
(You can change this later.)
</p>

<p>
<input class="newName" type="text">
</p>

<p>
<button class="cancelAdd btn">Cancel</button>
<button class="add btn btn-primary">Add</button>
</p>

</div>

<div id="deleteStoryDialog" class="hide">
<p>
Are you sure you want to delete this story?
This cannot be undone.
</p>

<p>
<button class="cancelDelete btn">Cancel</button>
<button class="delete btn btn-danger">Delete Forever</button>
</p>

</div>

<div id="importStoryDialog" class="hide">
<p>
Import this file:
</p>

<p>
<input class="importFile" type="file">
</p>

<p>
<button class="cancelImport btn">Cancel</button>
</p>

</div>

</script>

<script type="text/html" class="emptyStoryListView">

</tbody></table>

<div class="alert alert-info">

<p>
<b>Welcome to Twine!</b> To get started, create a new story
with the green <i>New Story</i> below.
</p>

</div>

</script>

<script type="text/html" class="storyItemView">
<td>
<h4>
<a href="javascript:void(0)" class="edit"><%- name %></a>
</td>

<td class="buttons">

<button class="deleteStory btn btn-danger" title="Delete &ldquo;<%- name %>&rdquo;">
<i class="icon-trash icon-large icon-white"></i>
</button>

<button class="edit btn" title="Edit &ldquo;<%- name %>&rdquo;">
<i class="icon-pencil icon-large"></i>
</button>

<button class="play btn" title="Play &ldquo;<%- name %>&rdquo;">
<i class="icon-play icon-large"></i>
</button>

<button class="publish btn" title="Publish &ldquo;<%- name %>&rdquo;">
<i class="icon-download-alt icon-large"></i>
</button>

</td>
</script>

<script type="text/html" class="storyEditView">
<div id="storyEditView">
<div class="navbar navbar-fixed-top">
<div class="navbar-inner">
<div class="container">

<ul class="nav">
<li><a href="#stories"><i class="icon-home icon-large"></i> Stories</a></li>
<li class="active"><a href="javascript:void(0)"><span class="storyName"><%- name %></span></a></li>
</ul>

<div class="pull-right">
<button class="storyProperties btn">
<i class="icon-cog"></i> Properties
</button>

<div class="btn-group">
<button class="playStory btn">
<i class="icon-play"></i> Play
</button>

<button class="btn dropdown-toggle" data-toggle="dropdown">
<span class="caret"></span>
</button>

<ul class="dropdown-menu">
<li><a class="publishStory"><i class="icon-download-alt"></i> Publish to File</a></li>
</ul>

</div>
</div>

</div>
</div>
</div>

<div class="controls">
<div class="frame">

<p>
<button class="add btn btn-success" title="Add New Passage" data-placement="left">
<i class="icon-plus icon-2x"></i>
</button>
</p>

<div class="btn-group btn-group-vertical" data-toggle="buttons-radio">

<button class="zoomBig btn" title="Show Passage Titles and Excerpts" data-placement="left" data-container="body">
<i class="icon-stop icon-2x"></i>
</button>

<button class="zoomMedium btn" title="Show Passage Titles" data-placement="left" data-container="body">
<i class="icon-th-large icon-2x"></i>
</button>

<button class="zoomSmall btn" title="Show Only Passage Rectangles" data-placement="left" data-container="body">
<i class="icon-th icon-2x"></i>
</button>

</div>

</div>
</div>

<div class="passages">
<canvas></canvas>
</div>
</div>

<div id="passageEditDialog" class="modal hide" data-backdrop="false">
<input type="hidden" id="passageId">

<div class="modal-body">

<button class="savePassage btn close" data-dismiss="modal">
&times;
</button>

<div class="form-inline">

<p class="control-group">
<label for="passageName">Name</label>
<input type="text" id="passageName" value="">
</p>

<p class="control-group">
<textarea id="passageText" class="span6"></textarea>
</p>

</div>
</div>
<div class="modal-footer">

<button class="btn savePassage">
<i class="icon-ok"></i> Done
</button>

</div>
</div>

<div id="storyPropertiesDialog" class="hide">
<div class="form-inline">

<p class="control-group">
<label for="storyName">Name</label>
<input type="text" id="storyName" class="storyName" value="">
</p>

<p class="control-group">
<label for="startPassage">Start At</label>

<select id="startPassage" class="startPassage"></select>
</p>

<p class="control-group">
<label for="snapToGrid" class="checkbox">
<input type="checkbox" id="snapToGrid">
Snap to Grid
</label>
</p>

<p class="control-group">
<button class="btn editStylesheet">
<i class="icon-font"></i>
Stylesheet
</button>

<button class="btn editScript">
<i class="icon-cogs"></i>
JavaScript
</button>
</p>

</div>
</div>

<div id="stylesheetEditDialog" class="modal hide" data-backdrop="false">
<div class="modal-body">

<button class="btn close" data-dismiss="modal">
&times;
</button>

<p>
Any CSS you enter below will be included in your story.
</p>

<p>
<textarea id="stylesheetSource" rows="14" class="span6"></textarea>
</p>

<div class="modal-footer">

<button class="btn saveStylesheet">
<i class="icon-ok"></i> Done
</button>

</div>
</div>
</div>

<div id="scriptEditDialog" class="modal hide" data-backdrop="false">
<div class="modal-body">

<button class="btn close" data-dismiss="modal">
&times;
</button>

<p>
Any JavaScript you enter below will be included in your story.
</p>

<p>
<textarea id="scriptSource" rows="14" class="span6"></textarea>
</p>

<div class="modal-footer">

<button class="btn saveScript">
<i class="icon-ok"></i> Done
</button>

</div>
</div>
</div>

</script>

<script type="text/html" class="passageItemView">
<div class="frame">
<h5 class="title"><%- name %></h5>
<p class="excerpt"><%= excerpt %></p>
</div>

<p class="buttons">
<button class="btn edit" title="Edit &ldquo;<%- name %>&rdquo;">
<i class="icon-pencil"></i>
</button>
<button class="btn btn-danger delete" title="Delete &ldquo;<%- name %>&rdquo;">
<i class="icon-trash"></i>
</button>
</p>
</script>

</div>

<script data-main="js/app" src="js/lib/require.js"></script>

</body>
</html>
