<!DOCTYPE html>
<html>
<head>
<title>Storybook</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8">
<link href="bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
<link href="css/storyview.css" rel="stylesheet" media="screen">
</head>

<body>

<div id="regions">
<div id="main"></div>
</div>


<div id="templates">

<script type="text/html" id="storylistview_template">
<div id="storylistview" class="container">

<h1>Stories</h1>

<table class="table table-bordered">
<tbody>
</tbody>
</table>

<p class="form-inline">
<button class="add btn btn-success">
<i class="icon-plus icon-white"></i>
Add New Story
</button>
<input class="newName" type="text" placeholder="Title">
</p>

</div>
</script>

<script type="text/html" id="storyview_template">
<td>
<h4>
<%- title %>
</h4>
<p class="buttons">
<button class="delete btn btn-danger" title="Delete <%- title %>">
<i class="icon-trash icon-white"></i>
</button>
</p>
</td>
</script>

<script type="text/html" id="passageminiview_template">
<h5><%- title %></h5>
<p><%- excerpt %></p>
</script>

</div>

<script src="js/lib/jquery.js"></script>
<script src="js/lib/json2.js"></script>
<script src="js/lib/underscore.js"></script>
<script src="bootstrap/js/bootstrap.js"></script>
<script src="js/lib/backbone.js"></script>
<script src="js/lib/backbone.localstorage.js"></script>
<script src="js/lib/backbone.marionette.js"></script>

<script src="js/models/story.js"></script>
<script src="js/models/passage.js"></script>

<script src="js/collections/storycollection.js"></script>
<script src="js/collections/passagecollection.js"></script>

<script src="js/views/storyview.js"></script>
<script src="js/views/passageminiview.js"></script>
<script src="js/views/storylistview.js"></script>

<script src="js/router.js"></script>
<script src="js/app.js"></script>

</body>
</html>
