#storyEditProxy
{
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #24497e url('img/blueprint_large.png') 10px -15px;
	box-shadow: 0 0 1em hsl(0, 0%, 15);
	animation-timing-function: linear;
	.zoom-small
	{
		background-image: url('img/blueprint_small.png');
		background-position: -15px 10px;
	}
	.zoom-medium
	{
		background-image: url('img/blueprint_medium.png');
		background-position: 10px 10px;
	}
}
