.passage-edit-stack {
	flex-grow: 1;
	width: 100%;
}

.maximized .passage-edit-stack {
	height: 100%;
}

.passage-edit-stack.collapsed {
	flex-grow: 0;
	/* Height is calculated in the component. */
}

.passage-edit-stack .dialog-card-header .tag-grid {
	height: 16px;
	width: 16px;
}

.passage-edit-stack .dialog-card-header .visible-whitespace svg {
	color: var(--gray);
	height: 1em;
	width: 1em;
	transform: translateY(0.65em);
}
