@import '../../styles/accessibility.css';
@import '../../styles/depth.css';
@import '../../styles/metrics.css';

.passage-edit-dialog .card {
	grid-template-rows: min-content 1fr;
	height: 100%;
}

.passage-edit-dialog > .card-content {
	padding: 0;
}

.passage-edit-dialog .tags {
	padding: var(--grid-size);
}

.passage-edit-dialog .fuuu {
	font-size: 200%;
	margin-bottom: 0;
}