<div id="statsModal" class="modal hide">

<button class="close subtle" data-modal-hide="this">
<i class="fa fa-times"></i>
</button>

<h2 class="title">
<%= s('Story Statistics') %>
</h2>

<div class="content">
<table>
<tbody>
<tr>
<td class="charCount"></td>
<td class="charDesc"></td>
</tr>
<tr>
<td class="wordCount"></td>
<td class="wordDesc"></td>
</tr>
<tr>
<td class="passageCount"></td>
<td class="passageDesc"></td>
</tr>
<tr>
<td class="linkCount"></td>
<td class="linkDesc"></td>
</tr>
<td class="brokenLinkCount"></td>
<td class="brokenLinkDesc"></td>
</tr>
</tbody>
</table>

<p class="lastUpdate">
<%=
s('This story was last changed at %s', lastUpdate)
%>
</p>

<p>
<%-
/* L10n: %s is the IFID of the story. Please keep the <span> element around it. */
s('The IFID for this story is <span class="ifid">%s</span>. (<a href="http:\/\/ifdb.tads.org/help-ifid" target="_blank">What\'s an IFID?</a>)', ifid)
%>
</p>

</div> <!-- .content -->

</div> <!-- #statsModal -->
