<div id="storyEditView">

<% include toolbar.ejs %>

<div class="passages">
<div class="content"></div>
<div class="marquee"></div>
</div> <!-- .passages -->

<% include passageEditModal.ejs %>
<% include stylesheetEditModal.ejs %>
<% include scriptEditModal.ejs %>
<% include searchModal.ejs %>
<% include renameStoryModal.ejs %>
<% include statsModal.ejs %>
<% include storyFormatModal.ejs %>

</div> <!-- #storyEditView -->
