<div id="storyEditView">

<% include toolbar.ejs %>

<div class="passages">
<div class="content"></div>
<div class="marquee"></div>
</div> <!-- .passages -->

<% include passage-edit-modal.ejs %>
<% include stylesheet-edit-modal.ejs %>
<% include script-edit-modal.ejs %>
<% include search-modal.ejs %>
<% include rename-story-modal.ejs %>
<% include stats-modal.ejs %>
<% include story-format-modal.ejs %>

</div> <!-- #storyEditView -->
