@import '../../common/colors.less';
@import '../../common/depth.less';
@import '../../vue/transitions.less';

#modalOverlay {
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: hsla(0, 0%, 0%, 0.4);

	.modal-dialog-transition & {
		.fade-in-out-transition;
	}

	.modal-dialog-enter & {
		.fade-in-out-enter;
	}

	.modal-dialog-leave & {
		.fade-in-out-leave;
	}
}

.modalDialog {
	position: fixed;
	z-index: 101;
	top: 1em;
	left: 50%;
	background: @color-paper;
	margin-left: -20em;
	width: 40em;
	border-radius: 2px;
	padding: @len-extra-large;
	.shadow-large;

	.close {
		position: absolute;
		top: 0;
		right: 0;
		border-radius: 0;
		border-bottom-left-radius: 0.25em;
		border-top-right-radius: 0.5em;
		font-size: 150%;
		padding: 0.5em 0.75em;
		margin: 0;
	}

	> *:first-child {
		margin-top: 0;
	}

	> *:last-child {
		margin-bottom: 0;
	}

	// Not used for this component, but available to child components.

	.buttons { 
		text-align: right;
		margin-bottom: 0;
	}

	.modal-dialog-transition & {
		.rise-in-out-transition;
	}

	.modal-dialog-enter & {
		.rise-in-out-enter;
	}

	.modal-dialog-leave & {
		.rise-in-out-leave;
	}
}

.editModal
{
	bottom: 0;
	width: 50em;
	padding-bottom: 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

body.iOS .editModal
{
	bottom: auto;
	height: 25em;
	border-bottom-left-radius: 2em;
	border-bottom-right-radius: 2em;
}

@media screen and (orientation: portrait)
{
	body.iOS .editModal
	{
		height: 40em;
	}
}

.editModal input[type="text"], .editModal textarea, .editModal .CodeMirror
{
	font-family: "Source Code Pro", monospace;
	line-height: 145%;
	background: inherit;
}

.CodeMirror-hints
{
	z-index: 1000 !important;
	font-family: "Source Code Pro", monospace !important;
}

.CodeMirror-empty
{
	color: hsl(0, 0%, 50%) !important;
}

.editModal .fullEdit
{
	position: absolute;
	top: 8.5em;
	left: 0;
	right: 0;
	bottom: 0;
}

.editModal .fullEdit > div {
	height: 100%;
}

.editModal .fullEdit .CodeMirror
{
	background: linear-gradient(to bottom, hsl(0, 0%, 90%) 0, hsl(0, 0%, 97%) 0.5em);
	box-shadow: none;
	height: 100%;
}

.editModal .fullEdit .CodeMirror-lines
{
	padding: 0.75em 2em 0.25em 2em;
}
