<modal-dialog v-ref:modal>
	<span slot="title">{{ 'Import From File' | say }}</span>

	<p v-if="!working">
		<label for="importUpload">
			{{ 'Import this file:' | say }}
		</label>

		<input type="file" v-el:import-file @change="import">
	</p>
	<p v-else>
		<i class="fa fa-circle-o-notch fa-spin"></i>
		{{ 'Working...' | say }}
	</p>

	<div class="buttons" v-if="!working" transition="fade-in-out">
		<button class="subtle" @click="close">
			<i class="fa fa-times"></i> {{ 'Cancel' | say }}
		</button>
	</div>
</modal-dialog>
