<modal-dialog :class="'prompt no-header ' + modalClass" :origin="origin">
	<form @submit.prevent="accept">
		<div class="message larger" v-html="message"></div>

		<transition name="fade-in-out">
			<p class="error" v-if="!isValid">
				{{ validationError }}
			</p>
		</transition>

		<p class="prompt">
			<input type="text" class="block" required v-model="response" ref="response">
		</p>

		<p class="buttons">
			<button type="button" @click="cancel" v-html="cancelLabel"></button>
			<button type="submit" :class="buttonClass" v-html="buttonLabel"></button>
		</p>
	</form>
</modal-dialog>
