.modalDialog.prompt {
	button.close {
		display: none;
	}

	.message {
		padding: 2em 2em 0 2em;
		font-size: 110%;
		padding-left: 3.5em;

		&:before {
			content: '\f059';
			font: 250% FontAwesome;
			float: left;
			margin-left: -1.5em;
			position: relative;
			top: .1em;
			color: #ccc;
		}
	}

	.prompt input[type="text"] {
		margin-left: 3.5em;
		width: calc(100% - 10em);
	}
}
