<div id="localeView">

<p class="prompt">
<%= s('Please choose which language you would like to use with Twine.') %>
</p>

<ul>

<li>
<button class="subtle" data-locale="es">
<img src="img/es.svg" alt="">
Castellano
</button>
</li>

<li>
<button class="subtle" data-locale="da">
<img src="img/da.svg" alt="">
Dansk
</button>
</li>

<li>
<button class="subtle" data-locale="en">
<img src="img/en.svg" alt="">
English
</button>
</li>

<li>
<button class="subtle" data-locale="fr">
<img src="img/fr.svg" alt="">
Fran&ccedil;ais
</button>
</li>

<li>
<button class="subtle" data-locale="nl">
<img src="img/nl.svg" alt="">
Nederlands
</button>
</li>

<li>
<button class="subtle" data-locale="pt-br">
<img src="img/pt-br.svg" alt="">
Portugu&ecirc;s Brasileiro
</button>
</li>

<li>
<button class="subtle" data-locale="ru">
<img src="img/ru.svg" alt="">
Русский
</button>
</li>

<li>
<button class="subtle" data-locale="de">
<img src="img/de.svg" alt="">
Deutsch
</button>
</li>

</ul>

</div>
