<div id="storyFormatModal">
	<header>
		<h2><%= s('Story Format') %></h2>
		<button class="close" data-modal="close"><i class="fa fa-remove"></i></button>
	</header>

	<p class="large">
		<%= s('A story format controls the appearance and behavior of your story during play.') %>
	</p>

	<div class="formats"></div>

	<p class="loading">
	<i class="fa fa-circle-o-notch fa-lg fa-spin"></i> <%= s('Loading...') %>
	</p>
</div>
