@import '../../../styles/colors.css';

.passage-map {
	background-color: var(--faint-blue);
	background-image: url('graph-paper-light.svg');
	background-size: 100px;
	transform-origin: top left;
	will-change: transform;
}

[data-app-theme="dark"] .passage-map {
	background-image: url('graph-paper-dark.svg');
}

.passage-map .passage-card {
	will-change: transform;
}

.passage-map .passage-card.selected {
	transform: translate(var(--drag-offset-left), var(--drag-offset-top));
}
