@import '../common/colors.less';
@import '../common/metrics.less';

.tag {
	display: inline-flex;
	padding: @len-medium 0 @len-medium @len-extra-large;
	border-radius: @len-extra-large;
	color: white;
	background: lighten(desaturate(@color-link, 50%), 15%);

	&.small {
		font-size: 90%;
	}

	button {
		color: white;
		padding: 0 @len-medium;
		border-radius: 0 @len-extra-large @len-extra-large 0;
		margin: -@len-medium 0 -@len-medium @len-medium;
	}
}
