@import '../../styles/colors.css';
@import '../../styles/depth.css';
@import '../../styles/metrics.css';

.base-card {
	background: var(--white);
	border-radius: var(--corner-round);
	box-shadow: var(--shadow-small);
	display: grid;
	overflow: hidden;
}

.base-card > .image > img {
	height: auto;
	width: 100%;
}

.base-card > .body {
	display: grid;
	grid-gap: var(--ui-gap);
	padding: var(--grid-size) calc(var(--grid-size) * 2);
}

.base-card > .body > .header {
	font-weight: bold;
	font-size: 120%;
	padding-top: var(--grid-size);
}

.base-card > .body > .content > :first-child {
	margin-top: 0;
}

.base-card > .body > .content > :last-child {
	margin-bottom: 0;
}

.base-card > .body > .actions {
	border-top: 1px solid var(--light-gray);
	display: flex;
	justify-content: flex-end;
	padding-top: var(--grid-size);
}

.base-card.compact {
	font-size: 85%;
}

.base-card.compact > .body {
	grid-gap: 0;
	padding: calc(var(--grid-size) / 2);
}

.base-card.compact > .body > .header {
	font-size: 100%;
	font-weight: normal;
	padding-top: 0;
}

.base-card.compact > .body > .content {
	color: var(--gray);
}

.base-card.highlighted {
	background: var(--light-yellow);
	border-color: var(--yellow);
}

.base-card.selected {
	background: var(--light-blue);
	box-shadow: var(--shadow-small), inset 0 0 0 1px var(--blue);
}

.base-card.selected > .body > .actions {
	border-color: var(--blue);
}

.base-card.highlighted > .body > .actions {
	border-color: var(--yellow);
}

.base-card.image-position-horizontal {
	display: grid;
	grid-template-columns: 2fr 3fr;
}

.base-card.image-position-horizontal > .image {
	display: flex;
}
