@import '../../styles/metrics.css';

.image-card > .card {
	display: grid;
	grid-template-columns: 2fr 3fr;
	padding: 0;
}

.image-card .image-card-image {
	overflow: hidden;
}

.image-card .image-card-content {
	display: grid;
	grid-gap: var(--grid-size);
	padding-bottom: var(--grid-size);
	padding-right: var(--grid-size);
	padding-top: var(--grid-size);
}
