@import '../../styles/metrics.less';

.story-format-item .raised-paper .content {
	align-items: stretch;
	display: grid;
	grid-gap: @len-medium;
	grid-template-areas:
		'image detail'
		'actions actions';
	grid-template-columns: 5em 1fr;
	grid-template-rows: repeat(2, auto);
	padding: @len-medium;

	.actions {
		grid-area: actions;
		justify-self: end;
	}

	.detail {
		grid-area: detail;
	}

	.image {
		grid-area: image;

		.icon-image {
			display: block;
			opacity: 0.25;
		}

		img,
		svg {
			width: 100%;
			height: auto;
		}
	}

	.title {
		font-weight: bold;

		&::after {
			content: ' ';
		}
	}
}
