<div id="formatsModal" class="modal hide">

<button class="close subtle" data-modal-hide="this">
<i class="fa fa-times"></i>
</button>

<h2 class="storyHeading">Story Formats</h2>

<p>
Story formats control the appearance and behavior of stories during play.
</p>

<div class="storyFormats"></div>

<h2 class="proofingHeading">Proofing Formats</h2>

<p>
Proofing formats create a versions of stories tailored for editing and proofreading.
</p>

<div class="proofingFormats"></div>

<p class="loading">
<i class="fa fa-circle-o-notch fa-lg fa-spin"></i> Loading...
</p>

</div> <!-- #formatsModal -->
