<div class="format" data-format="<%- name %>">

<p class="buttons">
<span class="removeConfirm">
Are you sure?
<button class="remove danger"><i class="fa fa-lg fa-trash-o"></i> Remove</button>
<button class="hideRemoveConfirm subtle">Cancel</button>
</span>

<span class="normalButtons">
<% if (typeof userAdded != 'undefined' && userAdded) { %>
<button class="showRemoveConfirm subtle danger" title="Remove this format"><i class="fa fa-lg fa-trash-o"></i></button>
<% } %>
<button class="setDefault subtle" title="Set this format as default for stories"><i class="fa fa-lg fa-star"></i></button>
</span>
</p>

<!--(bake /templates/storyformatdetail.html)-->

</div>
