<div class="format" data-format="<%- name %>">

<p class="buttons">
<span class="removeConfirm">
<%= t('Are you sure?') %>
<button class="remove danger"><i class="fa fa-lg fa-trash-o"></i> <%= t('Remove') %></button>
<button class="hideRemoveConfirm subtle"><%= t('Cancel') %></button>
</span>

<span class="normalButtons">
<% if (typeof userAdded != 'undefined' && userAdded) { %>
<button class="showRemoveConfirm subtle danger" title="<%= t('Remove this format') %>"><i class="fa fa-lg fa-trash-o"></i></button>
<% } %>
<button class="setDefault subtle" title="<%= t('Set this format as default for stories') %>"><i class="fa fa-lg fa-star"></i></button>
</span>
</p>

#= include ../storyformatdetail.html

</div>
