<div id="storyListView">

<nav class="listControls">

<h1 class="logo"><%= t('Twine') %></h1>

<div class="bubbleContainer">
<p>
<button class="addStory create block" title="<%= t('Create a brand-new story') %>" data-bubble="toggle" data-bubble-dir="right" data-tooltip-dir="w">
<i class="fa fa-plus"></i> <%= t('Story') %>
</button>
</p>

<div class="bubble left">
<form id="addStoryForm">
<p>
<%= t("What should your story be named?<br>(You can change this later.)") %>
</p>

<p>
<input class="newName block" type="text" required>
</p>

<p class="dialogButtons">
<button type="button" class="cancelAdd subtle" data-bubble="hide"><i class="fa fa-times"></i> <%= t('Cancel') %></button>
<button type="submit" class="add create"><i class="fa fa-plus"></i> <%= t('Add') %></button>
</p>
</form>
</div> <!-- .bubble -->
</div> <!-- .bubbleContainer -->

<div class="bubbleContainer">
<p>
<button class="importStory subtle block" title="<%= t('Import a published story or Twine archive') %>" data-bubble="toggle" data-bubble-dir="left" data-tooltip-dir="w">
<i class="fa fa-upload"></i> <%= t('Import From File') %>
</button>
</p>

<div class="bubble left">
<div class="form">
<p>
<%= t('Import this file:') %>
</p>

<p>
<input class="importFile" type="file">
</p>

<p>
<button class="subtle" data-bubble="hide"><i class="fa fa-times"></i> <%= t('Cancel') %></button>
</p>
</div>

<div class="working hide">
<p>
<i class="fa fa-2x fa-circle-o-notch fa-spin"></i>
</p>
<p>
<%= t('Importing...') %>
</p>
</div>

</div> <!-- .bubble -->
</div> <!-- .bubbleContainer -->

<p>
<button class="saveArchive subtle" title="<%= t('Save all stories to a Twine archive file') %>" data-tooltip-dir="w">
<i class="fa fa-briefcase"></i> <%= t('Archive') %>
</button>
</p>

<p>
<button class="showFormats subtle" title="<%= t('Work with story and proofing formats') %>" data-tooltip-dir="w">
<i class="fa fa-file-code-o"></i> <%= t('Formats') %>
</button>
</p>

<p>
<button class="showHelp subtle" title="<%= t('Browse online help') %>" data-tooltip-dir="w">
<i class="fa fa-question-circle"></i> <%= t('Help') %>
</button>
</p>

<footer>

<p class="quota">
<span class="total">
<span class="used"></span>
</span>

<span class="percent"></span>% space available
</p>

<p>
<%= t('version') %> <button class="link" data-modal-show="#aboutModal"><span class="app-version"></span></button>
<br>
<a href="https://bitbucket.org/klembot/twinejs/issues"><i class="fa fa-bug"></i> <%= t('Report a bug') %></a>
</p>
</footer>

</nav>

<div class="main">

<h1><%= t('Stories') %>

<span class="pull-right normal buttonGroup">
<%= t('Sort By') %>

<button class="sortByDate subtle active" title="<%= t('Last changed date') %>">
<%= t('Edit Date') %>
</button>

<button class="sortByName subtle" title="<%= t('Story name') %>">
<%= t('Name') %>
</button>
</span>

</h1>

<p class="noStories">
<%= t('There are no stories saved in Twine right now. ' +
      'To get started, you can either create a new story or import an existing one from a file.') %>
</p>

<div class="stories"></div>
</div> <!-- .main -->

</div> <!-- #storyListView -->

#= include modals/aboutmodal.html
#= include modals/appupdatemodal.html
#= include modals/donatemodal.html
#= include modals/formatsmodal.html
