<div class="story">

<button class="edit subtle bg"></button>

<div class="preview"></div>

<div class="label">
<h2>
<%- name %>
</h2>

<p class="changeDate">
<%- new XDate(lastUpdate).toString('d MMMM yyyy, h:mm tt') %>
</p>
</div>

<div class="bubbleContainer">
<button class="subtle" data-bubble="toggle"><i class="fa fa-cog"></i></button>

<div class="bubble small up">
<ul class="menu">

<li>
<button class="play"><%= t('Play Story') %></button>
</li>

<li>
<button class="test"><%= t('Test Story') %></button>
</li>

<li>
<button class="publish"><%= t('Publish to File') %></button>
</li>

<li>
<button class="rename"><%= t('Rename Story') %></button>
</li>

<li>
<button class="confirmDuplicate"><%= t('Duplicate Story') %></button>
</li>

<li class="divider"></li>

<li>
<button class="confirmDelete"><%= t('Delete Story') %></button>
</li>

</ul>

</div>
</div>

</div> <!-- .story -->
