<div id="deletePassagesModal" class="modal fade">
<div class="modal-dialog modal-sm">
<div class="modal-content">

<div class="modal-body">

<p>
Are you sure you want to delete <span class="passageCount"></span>? This cannot
be undone.
</p>

</div> <!-- .modal-body -->

<div class="modal-footer">
<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
<button type="button" class="btn btn-danger deleteSelectedPassages" data-dismiss="modal">Delete</button>
</div> <!-- .modal-footer -->

</div> <!-- .modal-content -->
</div> <!-- .modal-dialog -->
</div> <!-- #deletePassagesModal -->
