<div class="navbar navbar-fixed-bottom paper shadowUp">

<div class="navbar-left">

<div class="navbar-brand">
<a href="#stories" class="home"><i class="fa fa-home fa-lg"></i></a>

<div class="btn-group dropup">
<button class="storyName btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown">
<%- name %>
<i class="fa fa-caret-up"></i>
</button>

<ul class="dropdown-menu">

<li>
<a href="#">Edit Story JavaScript</a>
</li>
<li>
<a href="#">Edit Story Stylesheet</a>
</li>
<li>
<a href="#">Rename Story</a>
</li>
<li>
<a href="#"><i class="fa fa-check fa-fw"></i> Snap to Grid</a>
</li>

<li class="divider"></li>

<li>
<a href="#">Download Proofing Copy</a>
</li>

<li>
<a href="#">Publish to File</a>
</li>

</ul>

</div> <!-- .btn-group -->

</div> <!-- .navbar-brand -->

</div> <!-- .navbar-left -->

<div class="navbar-right">

<span class="searchContainer">
<input type="search" placeholder="Quick Find" class="searchField form-control input-sm">
<button class="clearSearch btn btn-default hide"><i class="fa fa-times"></i></button>
<button class="showSearch btn btn-default"><i class="fa fa-list-alt"></i></button>
</span>

<div class="btn-group" data-toggle="buttons">
<label class="btn btn-default navbar-btn">
<input type="radio" name="zoom" class="zoomSmall"><i class="fa fa-th"></i>
</label>
<label class="btn btn-default navbar-btn">
<input type="radio" name="zoom" class="zoomMedium"><i class="fa fa-th-large"></i>
</label>
<label class="btn btn-default navbar-btn">
<input type="radio" name="zoom" class="zoomBig"><i class="fa fa-stop"></i>
</label>
</div>

<div class="btn-group">

<button class="testStory btn btn-default">
<i class="fa fa-bug fa-lg"></i> Test
</button>

<button class="playStory btn btn-default">
<i class="fa fa-play fa-lg"></i> Play
</button>

<button class="addPassage btn btn-success">
<i class="fa fa-plus fa-lg"></i> Passage
</button>

</div>

<!--(bake /templates/storyeditview/storypropertiespopover.html)-->

</div> <!-- .navbar-right -->
</div> <!-- .navbar -->
