<div id="renameStoryModal" class="modal hide">

<button class="save close subtle" data-modal-hide="this">
<i class="fa fa-times"></i>
</button>

<h2 class="title">
<%= t('Rename Story') %>
</h2>

<div class="content">

<p>
<%= t("What should this story's name be?") %>
</p>

<form id="renameStoryForm">

<p>
<input class="storyName" type="text" required>
</p>

<p class="noNameError error">
<%= t('Please enter a name.') %>
</p>

<p class="dialogButtons">
<button class="subtle" data-modal-hide="this"><%= t('Cancel') %></button>
<button type="submit"><%= t('Save') %></button>
</p>

</form>

</div> <!-- .content -->

</div> <!-- #renameStoryModal -->
