<div id="searchModal" class="modal wide hide">

<button class="close subtle" data-modal-hide="this">
<i class="fa fa-times"></i>
</button>

<h2 class="title"><%= t('Find and Replace') %></h2>

<div class="content">

<p>
<label for="searchFor"><%= t('Search For') %></label>
<textarea id="searchFor"></textarea>
</p>

<p>
<input type="checkbox" id="searchNames" checked>
<label for="searchNames"><%= t('Include passage names') %></label>

<input type="checkbox" id="searchCaseSensitive">
<label for="searchCaseSensitive"><%= t('Match case') /* L10n: As in uppercase or lowercase letters. */ %></label>

<input type="checkbox" id="searchRegexp">
<label for="searchRegexp"><%= t('Regular expression') /* L10n: A technical term, see https://en.wikipedia.org/wiki/Regular_expression. */ %></label>
</p>

<p>
<label for="replaceWith"><%= t('Replace With') %></label>
<textarea id="replaceWith"></textarea>
</p>

<p class="resultSummary hide">
<span class="controls">
<button class="expandAll subtle" title="<%= t('Expand all search results') %>">
<i class="fa fa-expand"></i>
</button>

<button class="collapseAll subtle" title="<%= t('Collapse all search results') %>">
<i class="fa fa-compress"></i>
</button>

<button class="replaceAll danger">
<i class="fa fa-bolt"></i> <%= t('Replace All') %>
</button>
</span>

<!-- FIXME I18N -->
<span class="matches"><span class="matchCount"></span> passages match.</span>
</p>

<p class="loading hide">
<i class="fa fa-circle-o-notch fa-spin"></i> <%= t('Searching...') %>
</p>

<div class="results"></div> <!-- .results -->
</div> <!-- .content -->
</div> <!-- #searchModal -->
