<div id="statsModal" class="modal hide">

<button class="close subtle" data-modal-hide="this">
<i class="fa fa-times"></i>
</button>

<h2 class="title">
Story Statistics
</h2>

<div class="content">

<table>
<tbody>
<tr>
<td class="charCount"></td>
<td class="charDesc">
<span class="singular">Character</span>
<span class="plural">Characters</span>
</td>
</tr>
<tr>
<td class="wordCount"></td>
<td class="wordDesc">
<span class="singular">Word</span>
<span class="plural">Words</span>
</td>
</tr>
<tr>
<td class="passageCount"></td>
<td class="passageDesc">
<span class="singular">Passage</span>
<span class="plural">Passages</span>
</td>
</tr>
<tr>
<td class="linkCount"></td>
<td class="linkDesc">
<span class="singular">Link</span>
<span class="plural">Links</span>
</td>
</tr>
<td class="brokenLinkCount"></td>
<td class="brokenLinkDesc">
<span class="singular">Broken link</span>
<span class="plural">Broken links</span>
</td>
</tr>
</tbody>
</table>

<p>
The IFID for this story is <span class="ifid"><%- ifid %></span>.
(<a href="http://ifdb.tads.org/help-ifid" target="_blank">What's an IFID?</a>)
</p>

</div> <!-- .content -->

</div> <!-- #statsModal -->
