<div id="statsModal" class="modal hide">

<button class="close subtle" data-modal-hide="this">
<i class="fa fa-times"></i>
</button>

<h2 class="title">
<%= t('Story Statistics') %>
</h2>

<div class="content">
<!-- FIXME I18N -->

<table>
<tbody>
<tr>
<td class="charCount"></td>
<td class="charDesc">
<span class="singular">Character</span>
<span class="plural">Characters</span>
</td>
</tr>
<tr>
<td class="wordCount"></td>
<td class="wordDesc">
<span class="singular">Word</span>
<span class="plural">Words</span>
</td>
</tr>
<tr>
<td class="passageCount"></td>
<td class="passageDesc">
<span class="singular">Passage</span>
<span class="plural">Passages</span>
</td>
</tr>
<tr>
<td class="linkCount"></td>
<td class="linkDesc">
<span class="singular">Link</span>
<span class="plural">Links</span>
</td>
</tr>
<td class="brokenLinkCount"></td>
<td class="brokenLinkDesc">
<span class="singular">Broken link</span>
<span class="plural">Broken links</span>
</td>
</tr>
</tbody>
</table>

<p>
<!-- FIXME I18N -->
This story was last changed at <span class="lastUpdate"></span>.
</p>

<p>
<%= t('The IFID for this story is <span class="ifid">%s</span>. ' +
      '(<a href="http://ifdb.tads.org/help-ifid" target="_blank">What\'s an IFID?</a>)')
/* L10n: %s is the IFID of the story. Please keep the <span> element around it. */
%>
</p>

</div> <!-- .content -->

</div> <!-- #statsModal -->
