<div id="statsModal" class="modal hide">

<button class="close subtle" data-modal-hide="this">
<i class="fa fa-times"></i>
</button>

<h2 class="title">
Story Statistics
</h2>

<div class="content">

<table>
<tr>
<td class="charCount"></td>
<td>Characters</td>
</tr>
<tr>
<td class="wordCount"></td>
<td>Words</td>
</tr>
<tr>
<td class="passageCount"></td>
<td>Passages</td>
</tr>
<tr>
<td class="linkCount"></td>
<td>Links</td>
</tr>
<td class="brokenLinkCount"></td>
<td>Broken links</td>
</tr>

</table>

</div> <!-- .content -->

</div> <!-- #statsModal -->
