<div id="storyEditView">

<!--(bake /templates/storyeditview/toolbar.html)-->

<div class="passages">
<div class="marquee"></div>
<canvas></canvas>
</div> <!-- .passages -->

<!--(bake /templates/storyeditview/passageeditmodal.html)-->
<!--(bake /templates/storyeditview/stylesheeteditmodal.html)-->
<!--(bake /templates/storyeditview/scripteditmodal.html)-->
<!--(bake /templates/storyeditview/searchmodal.html)-->
<!--(bake /templates/storyeditview/renamestorymodal.html)-->
<!--(bake /templates/storyeditview/storyformatmodal.html)-->

</div> <!-- #storyEditView -->
