<div id="storyEditView">

<% include toolbar.ejs %>

<div class="passages">
<div class="content"></div>
<div class="marquee"></div>
</div> <!-- .passages -->

<% include modals/passageEditModal.ejs %>
<% include modals/stylesheetEditModal.ejs %>
<% include modals/scriptEditModal.ejs %>
<% include modals/searchModal.ejs %>
<% include modals/renameStoryModal.ejs %>
<% include modals/statsModal.ejs %>
<% include modals/storyFormatModal.ejs %>

</div> <!-- #storyEditView -->
