<div id="storyEditView" class="fadeIn">

<p class="home">
<a href="#stories"><i class="fa fa-home"></i></a>
</p>

<h4 class="storyName">
<%- name %>
</h4>

<!--(bake /templates/storyeditview/toolbox.html)-->

<div class="passages">
<div class="marquee"></div>
<canvas></canvas>
</div> <!-- .passages -->

<!--(bake /templates/storyeditview/passageeditmodal.html)-->
<!--(bake /templates/storyeditview/stylesheeteditmodal.html)-->
<!--(bake /templates/storyeditview/scripteditmodal.html)-->
<!--(bake /templates/storyeditview/deletepassagesmodal.html)-->

</div> <!-- #storyEditView -->
