<div id="storyFormatModal" class="modal hide">

<button class="close subtle" data-modal-hide="this">
<i class="fa fa-times"></i>
</button>

<h2 class="title">Story Format</h2>

<div class="content">

<p>
A story format controls the appearance and behavior of your story during play.
</p>

<p class="loading">
<i class="fa fa-circle-o-notch fa-lg fa-spin"></i> Loading...
</p>

<div class="formats">
<div class="buttons"></div>
<div class="details"></div>
</div>


</div> <!-- .content -->
</div> <!-- #searchModal -->
