<div class="toolbox shadow">

<p>
<button class="addPassage btn btn-success btn-block">
<i class="fa fa-plus"></i> Passage
</button>
</p>

<p class="btn-group full" data-toggle="buttons">
<label class="btn btn-default third">
<input type="radio" name="zoom" class="zoomSmall"><i class="fa fa-th"></i>
</label>
<label class="btn btn-default third">
<input type="radio" name="zoom" class="zoomMedium"><i class="fa fa-th-large"></i>
</label>
<label class="btn btn-default third">
<input type="radio" name="zoom" class="zoomBig"><i class="fa fa-stop"></i>
</label>
</p>

<p>
<button class="storyProperties btn btn-default btn-block" data-original-title="" title="">
<i class="fa fa-cog"></i> Properties
</button>
</p>

<div id="storyPropertiesPopover" class="hide">

<div class="form-horizontal">

<p class="form-group">
<span class="col-md-3">
<label for="storyName" class="control-label">Name</label>
</span>
<span class="col-md-9">
<input type="text" id="storyName" class="storyName form-control" value="">
</span>
</p>

<p class="form-group">
<span class="col-md-3">
<label for="startPassage">Start At</label>
</span>

<span class="col-md-9">
<select id="startPassage" class="startPassage form-control"></select>
</span>
</p>

<p class="form-group col-md-12">
<span class="checkbox">
<label>
<input type="checkbox" id="snapToGrid" class="snapToGrid" checked="<%= snapToGrid %>">
Snap to Grid
</label>
</span>
</p>

<p class="form-group">
<span class="col-md-6">
<button class="editStylesheet btn btn-default">
<i class="fa fa-font"></i>
Stylesheet
</button>
</span>

<span class="col-md-6">
<button class="editScript btn btn-default">
<i class="fa fa-cogs"></i>
JavaScript
</button>
</span>

<!--span class="col-md-4">
<button class="btn btn-primary">
<i class="icon-ok"></i>
Done
</button>
</span-->

</p>

</div> <!-- .form-horizontal -->
</div> <!-- #storyPropertiesPopover -->

<p>
<button class="testStory btn btn-default btn-block">
<i class="fa fa-bug"></i> Test
</button>
</p>

<div class="btn-group full">
<button class="playStory btn btn-default dropdown-default">
<i class="fa fa-play"></i> Play
</button>

<button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
<span class="caret"></span>
</button>

<ul class="dropdown-menu" role="menu">
<li><a href="javascript:void(0)" class="publishStory"><i class="fa fa-download"></i> Publish to File</a></li>
<li><a href="javascript:void(0)" class="proofStory"><i class="fa fa-file-text-o"></i> Proofing Copy</a></li>
</ul>

</div> <!-- .btn-group -->
</div> <!-- .toolbox -->
