<div class="toolbar main">

<div class="left">

<a href="#stories" class="home subtle" title="Go to the story list"><i class="fa fa-home fa-lg"></i></a>

<div class="bubbleContainer inline">

<button class="storyName subtle" data-bubble="toggle">
<%- name %>
<i class="fa fa-caret-up"></i>
</button>

<div class="bubble down smaller">

<ul class="menu">

<li>
<a href="#">Edit Story JavaScript</a>
</li>
<li>
<a href="#">Edit Story Stylesheet</a>
</li>
<li>
<a href="#">Rename Story</a>
</li>
<li>
<a href="#"><i class="fa fa-check fa-fw"></i> Snap to Grid</a>
</li>

<li class="divider"></li>

<li>
<a href="#">Download Proofing Copy</a>
</li>

<li>
<a href="#">Publish to File</a>
</li>

</ul>

</div> <!-- .bubble -->
</div> <!-- .bubbleContainer -->

</div> <!-- .left -->

<div class="right">

<span class="searchContainer">
<input type="search" placeholder="Quick Find" class="searchField">
<button class="showSearch subtle"><i class="fa fa-list-alt"></i></button>
</span>

<button class="zoomSmall subtle" title="Show only story structure">
<i class="fa fa-th"></i>
</button>

<button class="zoomMedium subtle" title="Show only passage titles">
<i class="fa fa-th-large"></i>
</button>

<button class="zoomBig subtle" title="Show passage titles and excerpts">
<i class="fa fa-stop"></i>
</button>

<button class="testStory subtle" title="Play this story in test mode">
<i class="fa fa-bug fa-lg"></i> Test
</button>

<button class="playStory subtle" title="Play this story">
<i class="fa fa-play fa-lg"></i> Play
</button>

<button class="addPassage create" title="Add a new passage">
<i class="fa fa-plus fa-lg"></i> Passage
</button>

</div> <!-- .right -->
</div> <!-- .toolbar -->
