@import '../../styles/metrics.css';
@import '../../styles/depth.css';

.passage-toolbar {
	box-shadow: var(--shadow-large);
	user-select: none;
}

.passage-toolbar.multiple {
	transform: translateY(-50%);
}

.dragging-passages .passage-toolbar,
.marquee-selecting .passage-toolbar {
	display: none;
}

.passage-toolbar-target {
	pointer-events: none;
	position: absolute;
}
