@import '../common/colors.less';

@color-graph-paper: darken(@color-paper, 2%);
@color-graph-lines: lighten(@color-link, 55%);
@color-graph-lines-bold: lighten(@color-link, 52%);

#storyEditView .passages {
	width: 100%;
	height: 100%;
	user-select: none;
	background-color: @color-graph-paper;
    background-image: linear-gradient(to right, @color-graph-lines-bold 1px, transparent 1px), linear-gradient(to bottom, @color-graph-lines-bold 1px, transparent 1px), linear-gradient(to right, @color-graph-lines 1px, transparent 1px), linear-gradient(to bottom, @color-graph-lines 1px, transparent 1px);
    background-size: 100px 100px, 100px 100px, 10px 10px, 10px 10px;
}

#storyEditView.zoom-small .passages {
}

#storyEditView.zoom-medium .passages {
}

body.draggingPassages {
	.drop {
		display: none !important;
	}
	
	#storyEditView * {
		cursor: default !important;
	}
}

