<div id="storyEditView" :style="cssDimensions" v-bind:class="'zoom-' + zoomDesc" @webkitmouseforcedown="onMouseForceDown"
 @wheel="onWheel" v-mouse-scrolling>
	<div class="passages">
		<marquee-selector :story="story"></marquee-selector>
		<link-arrows :passages="story.passages" :positions="passagePositions" :zoom="story.zoom"></link-arrows>

		<transition-group name="grow-in-out">
			<passage-item v-for="passage in story.passages" :passage="passage" :parent-story="story" :screen-drag-offset-x="screenDragOffsetX"
			 :screen-drag-offset-y="screenDragOffsetY" :highlight-regexp="highlightRegexp" :grid-size="gridSize" ref="passages" v-bind:key="passage.id"></passage-item>
		</transition-group>
	</div>

	<story-toolbar :story="story" :highlight-regexp="highlightRegexp" :zoom-desc="zoomDesc"></story-toolbar>
	<passage-editor v-if="showEditor" :passageId="editorArgs.passageId" :storyId="editorArgs.storyId" :origin="editorArgs.origin"></passage-editor>
</div>
<!-- #storyEditView -->
