@import '../../common/colors.less';
@import '../../common/metrics.less';
@import '../../common/depth.less';

#storyEditView .passage {
	position: absolute;
	background: @color-paper;
	.shadow-medium;
	cursor: default;
	font-size: 85%;
	padding: @len-small;
	border-radius: 2px;
	width: 100px;
	height: 100px;

	p {
		margin: 0;
	}

	.title {
		font-weight: bold;
	}

	.excerpt {
		color: lighten(@color-text, 45%);
	}
}

#storyEditView.zoom-medium .passage {
	.frame {
		width: 60px;
		height: 60px;

		&:after {
			display: none;
		}
	}

	.title {
		border-bottom: none;
		font-size: 0.8em;
		font-weight: normal;
		line-height: 120%;
		text-align: center;
		margin: 5px;
		padding: 0;
		height: 60px;
		width: 60px;
		display: table-cell;
		vertical-align: middle;
		white-space: normal;
	}

	.excerpt {
		display: none;
	}
}

#storyEditView.zoom-small .passage {
	.frame {
		width: 25px;
		height: 25px;

		&:after {
			display: none;
		}
	}

	.title, .excerpt {
		display: none;
	}
}
