#nwuiError
{
	font-size: 125%;
	background-color: hsla(10, 88%, 40%, 0.8);
	color: white;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

#nwuiError p
{
	width: 40rem;
	margin-left: auto;
	margin-right: auto;
}

#nwuiError ul
{
	margin: 1rem;
	padding-left: 0;
	font-size: 70%;
	list-style-type: none;
	border: 1px solid white;
	padding: 1em;
	box-sizing: border-box;
	border-radius: 2px;
}

#nwuiError a
{
	color: white;
	text-decoration: underline;
}
