<div class="passage-edior">
	<input v-if="!passageData" type="text" id="passageName" placeholder="{{ 'Passage Name' | say }}" v-model="userPassageName">

	<tag-editor :passage="passage" :story-id="storyId"></tag-editor>

	<p class="error" v-if="!userPassageNameValid">
		{{ 'A passage already exists with this name.' | say }}
	</p>

	<pre v-if="isReadOnly" @click="disabled = false; ready();">{{passage.text || '-- no text --'}}</pre>
	<div class="expand">
		<code-mirror v-if="!isReadOnly" :options="cmOptions" :text="passage.text" @cm-change="saveText" v-ref:codemirror></code-mirror>
	</div> <!-- .fullEdit -->

	<button v-if="!passageData" class="nav" @click="applyPassage">
		<i class="fa fa-refresh fa-lg"></i>
	</button>
</div>