@import '../../common/metrics.less';

#passageEditModal {
	.title span {
		display: flex;
		width: 100%;

		input {
			flex-grow: 1;
			margin: @len-tiny;
			font-size: 1rem;
		}
	}

	.passageTags {
		margin: @len-small 0;
	}
}
