<modal-dialog id="passageEditModal" class="editModal" :can-close="canClose" @destroyed="dialogDestroyed" v-ref:modal>
	<p class="title">
		<input type="text" class="fillin" placeholder="{{ 'Passage Name' | say }}" v-model="name">
	</p>

	<p class="error" v-if="hasError">{{ saveError }}</p>

	<tag-editor :tags="tags" @tag-change="saveTags"></tag-editor>

	<div class="fullEdit">
		<code-mirror :options="cmOptions" :text="text" @cm-change="saveText" v-ref:codemirror></code-mirror>
	</div> <!-- .fullEdit -->

	</div> <!-- .content -->
</modal-dialog>
