#passageEditModal {
	.passageName {
		display: block;
		width: 100%;
		padding-bottom: 0.1em;
		font-size: 125%;
	}

	.error {
		margin-bottom: 0.5em;
	}

	.passageTags {
		margin-top: -0.5em;
		font-size: 90%;

		p {
			margin-top: 0;
			padding-top: 0.5em;
			float: left;
		}

		.tag {
			margin-right: 0.5em;
		}
	}

	.passageTags button.link {
		margin-left: 1em;
	}

	.fullEdit {
		top: 6.5em;
	}

	&.hasError .fullEdit {
		top: 8.5em;
	}
}
