@import '../../../styles/metrics.css';

.dialogs {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	position: fixed;
	bottom: var(--grid-size);
	right: var(--grid-size);
	top: calc(50px + var(--grid-size));
	width: 40em;
}

.dialogs > * {
	flex: 1;
}

.dialogs > * + * {
	margin-top: var(--grid-size);
}

.dialogs > .collapsed {
	flex: 0;
}
