<modal-dialog class="confirm choose-import-replace" v-ref:modal>
	<p class="message">
	{{ 'Some stories you are importing already exist in your library. Please choose which to replace. Any other stories in your file will be imported as well.' | say }}
	</p>

	<ul v-for="name in names">
		<input type="checkbox" id="replace-story-{{ name }}" v-model="toReplace" value="{{ name }}">

		<label for="replace-story-{{ name }}">{{ name }}</label>
	</ul>

	<p class="buttons">
		<button type="button" class="subtle" @click="cancel">{{ "Don't Import Any Stories" | say }}</button>
		<button type="button" :class="confirmClass" @click="accept">
			<i class="fa fa-check"></i>
			{{ confirmLabel }}
		</button>
	</p>
</modal-dialog>
