@import '../../styles/metrics.css';

.story-card .card-content {
	flex-grow: 1;
}

.story-card svg.story-preview,
.story-import-card svg.story-preview {
	height: 230px;
	margin: var(--grid-size);
}

.story-card .tags .tag-button {
	display: inline-block;
	margin-right: var(--grid-size);
	margin-bottom: var(--grid-size);
}

@media (prefers-color-scheme: dark) {
	.story-card .image-card-image svg,
	.story-import-card .image-card-image svg {
		filter: invert() brightness(1.5);
	}
}
