@import '../../styles/colors.css';
@import '../../styles/metrics.css';

.safari-warning-card {
	width: 740px; /* two story cards wide */
}

.safari-warning-card .card {
	display: grid;
	grid-gap: var(--grid-size);
	grid-template:
		'icon message'
		'buttons buttons' / 50px 1fr;
	margin-top: var(--grid-size);
	padding-top: var(--grid-size);
}

.safari-warning-card .side-icon svg {
	color: var(--dark-red);
	grid-area: icon;
	height: 50px;
	padding-left: var(--grid-size);
	width: 50px;
}

.safari-warning-card .message {
	grid-area: message;
}

.safari-warning-card .message :first-child {
	margin-top: 0;
}

.safari-warning-card .message :last-child {
	margin-bottom: 0;
}

.safari-warning-card .button-bar {
	grid-area: buttons;
}
