.collapseContainer
{
	.collapse, .collapseInline
	{
		display: none;
	}

	&.expanded
	{
		.collapse
		{
			display: block;
		}

		.collapseInline
		{
			display: inline;
		}

		.collapseReverse
		{
			display: none;
		}
	}
}


