<modal-dialog id="storyFormatModal" :origin="origin">
	<span slot="title">{{ 'Story Format' | say }}</span>

	<p>
		{{ 'A story format controls the appearance and behavior of your story during play.' | say }}
	</p>

	<transition name="fade-in-out">
	<p v-if="working">
		<i class="fa fa-circle-o-notch fa-lg fa-spin"></i> {{ 'Loading...' | say }}
	</p>
	</transition>

	<table class="lined">
		<tbody>
			<transition name="fade-in-out">
				<tr v-for="(format, index) in loadedFormats" is="format-item" :format="format" :story="story" track-by="index"></format-item>
			</transition>
		</tbody>
	</table>
</modal-dialog>
