<tr class="format-item">
	<td class="selector">
		<input type="radio" :checked="selected" @click="select" v-bind:id="nameVersion">
	</td>

	<td>
		<p>
			<label v-bind:for="nameVersion"><b>{{ format.name }} {{ format.properties.version }}</b></label>
			<span v-if="author" v-html="author"></span>
		</p>
		<div class="detail" v-if="selected">
			<div class="icon">
				<img v-if="format.properties.image" :src="imageSrc">
				<span v-else class="placeholder">{{ format.name.slice(0,2) }}</span>
			</div>

			<div class="description">
				<p v-if="format.properties.description" v-html="format.properties.description"></p>

				<p v-if="format.properties.license" v-html="format.properties.license"></p>
			</div>
		</div>
	</td>
</tr>
