<div id="donateModal" class="modal hide">

<div class="message">

<p>
<%= s('If you love Twine as much as I do, please consider helping it grow with a donation. Twine is as an open source project that will always be free to use &mdash; and with your help, Twine will continue to thrive.') %>
</p>

<p class="signature">
<%= s('Chris Klimas, Twine creator') %>
</p>

</div>

<p class="buttons">
<a href="http://twinery.org/donate" class="button"><i class="fa fa-heart-o"></i> <%= s('Donate') %></a>
<a href="#stories" class="subtle" data-modal-hide="this"><%= s('No Thanks') %></a>
</p>

<p class="coda">
<%= s('This message will only be shown to you once.<br>' +
      "If you'd like to donate to Twine development in the future, " +
	  'you can do so at <a href="http://twinery.org/donate" target="_blank">http://twinery.org/donate</a>.') %>
</p>

</div>
