<div id="formatsModal" class="modal hide">

<button class="close subtle" data-modal-hide="this">
<i class="fa fa-times"></i>
</button>

<div class="title">
<p class="tabs">
<button class="showStoryFormats" data-content=".storyFormatsContent">Story Formats</button>
<button class="showProofingFormats" data-content=".proofingFormatsContent">Proofing Formats</button>
<button class="showAddFormat" data-content=".addFormatContent">Add a New Format</button>
</p>
</div>

<div class="tabContent">

<div class="storyFormatsContent">

<p>
Story formats control the appearance and behavior of stories during play.
</p>

<div class="storyFormatList"></div>

</div>

<div class="proofingFormatsContent">

<p>
Proofing formats create a versions of stories tailored for editing and proofreading.
</p>

<div class="proofingFormatList"></div>

</div>

<div class="addFormatContent">

<p>
To add a story format, enter its address below.
</p>

<form class="addFormat">

<p>
<input type="text" name="newFormatUrl" required>
<button class="create" type="submit"><i class="fa fa-plus"></i> Add</button>
</p>

</form>

</div>

<p class="loading">
<i class="fa fa-circle-o-notch fa-lg fa-spin"></i> Loading...
</p>

<p class="error"></p>

</div> <!-- .tabContent -->

</div> <!-- #formatsModal -->
