.card-actions {
	align-items: center;
	display: flex;
	padding-top: var(--grid-size);
}

.card.selected .card-actions {
	border-color: var(--blue);
}

.card.highlighted .card-actions {
	border-color: var(--yellow);
}
