@import '../../../styles/metrics.css';

.dialog-card {
	height: 100%;
	width: 100%;
}

.dialog-card .card {
	padding: 0;
}

.dialog-card .card-header {
	align-items: center;
	display: flex;
}

.dialog-card .card-header .dialog-card-header {
	flex-grow: 1;
}

.dialog-card .card-header .dialog-card-header .icon-button {
	font-weight: bold;
	width: 100%;
}

.dialog-card .card-body {
	display: flex;
	flex-direction: column;
	padding: 0;
}
