<div id="localeView">

<p class="prompt">
<%= s('Please choose which language you would like to use with Twine.') %>
</p>

<ul>

<li>
<button class="subtle" data-locale="es">
<img src="img/flags/es.svg" alt="">
Castellano
</button>
</li>

<li>
<button class="subtle" data-locale="en">
<img src="img/flags/en.svg" alt="">
English
</button>
</li>

<li>
<button class="subtle" data-locale="fr">
<img src="img/flags/fr.svg" alt="">
Fran&ccedil;ais
</button>
</li>

<li>
<button class="subtle" data-locale="nl">
<img src="img/flags/nl.svg" alt="">
Nederlands
</button>
</li>

<li>
<button class="subtle" data-locale="pt-br">
<img src="img/flags/pt-br.svg" alt="">
Portugu&ecirc;s Brasileiro
</button>
</li>

</ul>

</div>
