<div class="frame">
<p class="title"><%- name %></p>

<p class="excerpt">
<%= excerpt %>
</p>
</div>

<div class="controls">
<div class="popover bottom">
<div class="arrow"></div>

<div class="popover-content">

<a class="delete danger" title="Delete &ldquo;<%- name %>&rdquo;" href="javascript:void(0)"><i class="fa fa-trash-o"></i></a>
<a class="edit" title="Edit &ldquo;<%- name %>&rdquo;" href="javascript:void(0)"><i class="fa fa-pencil"></i></a>
<a class="test" title="Test Story Starting Here" href="javascript:void(0)"><i class="fa fa-bug"></i></a>
<a class="setStart" title="Set As Starting Point" href="javascript:void(0)"><i class="fa fa-flag-checkered"></i></a>

</div>

</div>
