<td>
<h4>
<a href="javascript:void(0)" class="edit"><%- name %></a>
</td>

<td class="buttons">

<button class="deleteStory btn btn-danger" title="Delete &ldquo;<%- name %>&rdquo;">
<i class="icon-trash icon-large icon-white"></i>
</button>

<button class="edit btn" title="Edit &ldquo;<%- name %>&rdquo;">
<i class="icon-pencil icon-large"></i>
</button>

<button class="play btn" title="Play &ldquo;<%- name %>&rdquo;">
<i class="icon-play icon-large"></i>
</button>

<button class="publish btn" title="Publish &ldquo;<%- name %>&rdquo;">
<i class="icon-download-alt icon-large"></i>
</button>

</td>
