<!--
This is used in both StoryFormatView and StoryEditView to display
information about a story format.
-->

<div class="formatDetail">

<%

/* if no image is available, use a placeholder based on name */

if (typeof image == 'string')
	print('<img src="' + path + '/' + image + '">');
else
	print('<span class="placeholder">' + name.replace(/[a-z]/g, '') + '</span>');
%>

<div class="text">

<h3><%- name %> <%- version %>

<%
if (typeof author == 'string')
	print('<br> ' + s('by %s', author)); /* L10n: %s is the name of an author. */
%>

</h3>

<div class="description">
<%= description %>

<%
if (typeof license == 'string')
	print('<p>' + s('License: %s', license) + '</p>'); /* L10n: %s is the name of a software license. */
%>

</div>

</div>
</div>
