<div id="storyListView" class="container">

<div class="navbar navbar-fixed-top">
<div class="navbar-inner">
<div class="container">

<ul class="nav">
<li class="active"><a href="#stories"><i class="icon-home icon-large"></i> Stories</a></li>
</ul>

<div class="pull-right">
<button class="saveArchive btn" title="Download a backup archive of all your stories" data-placement="bottom">
<i class="icon-suitcase icon-white"></i>
Archive
</button>
</div>

</div>
</div>
</div>

<div class="alert">

<p>
<i class="icon-warning-sign icon-4x pull-left" style="padding-bottom: 0.5em"></i>
<b>This is not even an alpha-quality release</b> and may eat your work at any
point. Use the Archive button (in the top-right corner) liberally to prevent heartbreak.
All data is stored in your browser's local storage, so if you visit this site
with a different browser, you won't see anything. Likewise, if you delete the
local storage for this site (e.g. clear browsing history), everything saved
here will disappear in a poof of regret forever. 
</p>

<p>
Lots of stuff is left to be done. Some obvious things: arrows for passage connections,
snap to grid, JS/CSS editing, zoom, preventing passage
overlap, dragging passages on mobile browsers. Markdown syntax works in passages, but only
the &lt;&lt;set&gt;&gt;, &lt;&lt;print&gt;&gt;, and &lt;&lt;if&gt;&gt; macros work. (You can
only use a single if statement for now -- no nesting or else statements.)
</p>

<p>
Thanks for trying this out! Please post feedback to
the <a href="https://groups.google.com/forum/#!forum/tweecode">discussion group</a>.

I've made the repos for the <a
href="https://bitbucket.org/klembot/twinejs">app</a> and <a
href="https://bitbucket.org/klembot/harlowe">template</a> available.
Contributions are welcome! &mdash; Chris
</p>

</div>

<div class="alert alert-info intro hide">

<h3>Welcome to Twine!</h3>

<p>
To get started, create a new story
by clicking the <b>New Story</b> button below.
</p>

</div>

<table class="table table-bordered">
<tbody>
</tbody>
</table>

<p class="form-inline">
<button class="addStory btn btn-success" title="Create a brand-new story">
<i class="icon-plus icon-white"></i>
New Story
</button>

<button class="importStory btn" title="Import a published story file or archive">
<i class="icon-upload-alt"></i>
Import
</button>

</div>

<div id="addStoryDialog" class="hide">
<p>
What should your story be named?
(You can change this later.)
</p>

<p>
<input class="newName" type="text">
</p>

<p>
<button class="cancelAdd btn">Cancel</button>
<button class="add btn btn-primary">Add</button>
</p>

</div>

<div id="deleteStoryDialog" class="hide">
<p>
Are you sure you want to delete this story?
This cannot be undone.
</p>

<p>
<button class="cancelDelete btn">Cancel</button>
<button class="delete btn btn-danger">Delete Forever</button>
</p>

</div>

<div id="importStoryDialog" class="hide">
<p>
Import this file:
</p>

<p>
<input class="importFile" type="file">
</p>

<p>
<button class="cancelImport btn">Cancel</button>
</p>

</div>
