<div id="storyListView">

<nav class="listControls">

<h1 class="logo">Twine</h1>

<div class="bubbleContainer">
<p>
<button class="addStory create block" title="Create a brand-new story" data-bubble="toggle" data-bubble-dir="right" data-tooltip-dir="w">
<i class="fa fa-plus"></i> Story
</button>
</p>

<div class="bubble left">
<form id="addStoryForm">
<p>
What should your story be named?<br>
(You can change this later.)
</p>

<p>
<input class="newName block" type="text" required>
</p>

<p class="dialogButtons">
<button type="button" class="cancelAdd subtle" data-bubble="hide"><i class="fa fa-times"></i> Cancel</button>
<button type="submit" class="add create" data-bubble="hide"><i class="fa fa-plus"></i> Add</button>
</p>
</form>
</div> <!-- .bubble -->
</div> <!-- .bubbleContainer -->

<div class="bubbleContainer">
<p>
<button class="importStory subtle block" title="Import a published story or Twine archive" data-bubble="toggle" data-bubble-dir="left" data-tooltip-dir="w">
<i class="fa fa-upload"></i> Import From File
</button>
</p>

<div class="bubble left">
<p>
Import this file:
</p>

<p>
<input class="importFile" type="file">
</p>

<p>
<button class="subtle" data-bubble="hide"><i class="fa fa-times"></i> Cancel</button>
</p>

</div> <!-- .bubble -->
</div> <!-- .bubbleContainer -->

<button class="saveArchive subtle block" title="Save all stories to a Twine archive file" data-tooltip-dir="w">
<i class="fa fa-briefcase"></i> Archive
</button>
</p>

<footer>
<p>
version <button class="link" data-modal-show="#aboutModal"><span class="app-version"></span></button>
<br>
<a href="https://bitbucket.org/klembot/twinejs/issues"><i class="fa fa-bug"></i> Report a bug</a>
</p>
</footer>

</nav>

<div class="main">

<h1>Stories

<span class="pull-right normal buttonGroup">
Sort By

<button class="sortByDate subtle active" title="Last changed date">
Edit Date
</button>

<button class="sortByName subtle" title="Story name">
Name
</button>
</span>

</h1>

<p class="noStories">
There are no stories saved in Twine right now. To get started, you can either create a new
story or import an existing one from a file.
</p>

<div class="stories"></div>
</div> <!-- .main -->

</div> <!-- #storyListView -->

<div id="aboutModal" class="modal hide">

<button class="save close subtle" data-modal-hide="this">
<i class="fa fa-times"></i>
</button>

<h2 class="title">
About Twine <span class="app-version"></span>
</h2>

<p>
Build {{build_number}}
</p>

<p>
Twine is an open-source tool for telling interactive, nonlinear stories.
</p>

<p>
Twine 2.0 is released under the <a href="http://www.gnu.org/licenses/gpl-3.0.html">GPL v3</a>
license, but any work created with it may be released under any terms, including commercial ones.
<a href="https://bitbucket.org/klembot/twinejs">Source Code Repository</a>
</p>

<div class="credits">

<h4>
Code
</h4>

<p>
Chris Klimas<br>
Leon Arnott<br>
Ingrid Cheung<br>
Daithi O Crualaoich<br>
Micah Fitch<br>
Juhana Leinonen<br>
Ross Smith
</p>

<h4>
Libraries
</h4>

<p>
<a href="http://backbonejs.org/">Backbone</a><br>
<a href="https://github.com/jeromegn/Backbone.localStorage">Backbone Local Storage</a><br>
<a href="https://github.com/eligrey/Blob.js/">Blob.js</a><br>
<a href="http://codemirror.net/">CodeMirror</a><br>
<a href="https://github.com/eligrey/FileSaver.js">FileSaver.js</a><br>
<a href="http://jquery.com/">jQuery</a><br>
<a href="http://marionettejs.com/">Marionette</a><br>
<a href="http://0x000000.github.io/OmniWindow/">OmniWindow</a><br>
<a href="https://iamceege.github.io/tooltipster/">Tooltipster</a><br>
<a href="http://underscorejs.org/">Underscore</a><br>
<a href="http://arshaw.com/xdate/">XDate</a>
</p>

<h4>
Fonts
</h4>

<p>
Cousine was designed by Steve Matteson for <a href="http://www.ascenderfonts.com/">Ascender Fonts</a><br>
Nunito was designed by <a href="http://code.newtypography.co.uk/">Vernon Adams</a>
</p>

<h4>
Icons
</h4>

<p>
<a href="http://fontawesome.io/">Font Awesome</a><br>
<a href="http://thenounproject.com/term/construction/5853/">Construction designed by Anuar Zhumaev from the Noun Project</a><br>
<a href="http://thenounproject.com/term/document/12036/">Document designed by Rob Gill from the Noun Project</a><br>
<a href="http://thenounproject.com/term/question/2036/">Question designed by Henry Ryder from the Noun Project</a><br>
<a href="http://thenounproject.com/term/smile/10696/">Smile designed by jelio dimitrov from the Noun Project</a><br>
</p>

</div> <!-- .credits -->

</div> <!-- #aboutModal -->
