<!--
js/nwui.js uses this as a replacement for welcomeview.html,
since the information related to saving to the browser is not applicable.
-->

<h1>
Your work is automatically saved.
</h1>

<p>
There's now a folder named Twine in your Documents folder. Inside that is a
Stories folder, where all your work will be saved. Twine saves as you work, so
you don't have to worry about remembering to save it yourself. You can always
open the folder your stories are saved to by using the <b>Show Library</b> item
in the <b>Twine</b> menu.
</p>

<p>
Because Twine is always saving your work, the files in your story library will
be locked from editing while Twine is open.
</p>

<p>
If you'd like to open a Twine story file you received from someone else, you
can import it into your library using the <i class="icon-upload-alt"></i>
<b>Import From File</b> link in the story list.
</p>

<p class="buttons">
<button class="btn btn-primary">OK</button>
</p>
