.search-controls-fields {
	display: grid;
	grid-gap: var(--ui-gap);
	grid-template-columns: repeat(2, 1fr);
	margin: var(--ui-gap) 0;
}

.search-controls-fields .code-area {
	height: 8em;
}

.search-controls .settings {
	grid-column-start: 1;
	grid-column-end: 2;
}
