@import '../../styles/colors.css';
@import '../../styles/metrics.css';
@import '../../styles/typography.css';

.text-line > label {
	align-items: center;
	display: inline-flex;
}

.text-line > label > input {
	background: var(--white);
	border: 1px solid var(--faint-gray);
	border-radius: var(--corner-round);
	box-shadow: inset 0 1px 0 var(--light-gray);
	color: var(--dark-gray);
	flex-grow: 1;
	font: 100% var(--font-ui);
	height: var(--control-height);
	margin-left: var(--grid-size);
	padding: var(--grid-size);
}

@media (prefers-color-scheme: dark) {
	.text-line > label > input {
		box-shadow: inset 0 -1px 0 var(--light-gray);
	}
}

.text-line.orientation-vertical > label {
	align-items: flex-start;
	flex-direction: column;
}

.text-line.orientation-vertical > label > input {
	margin-left: 0;
	margin-top: var(--grid-size);
}
