@import '../../styles/colors.css';
@import '../../styles/depth.css';
@import '../../styles/metrics.css';
@import '../../styles/typography.css';

.text-select > label {
	align-items: center;
	display: inline-flex;
	position: relative;
}

/* TODO: style this with ::after so that it can change appearance in dark theme */

.text-select > label > select {
	-webkit-appearance: none;
	background: var(--white-translucent)
		url('~@tabler/icons/icons/chevron-down.svg');
	background-position: calc(100% - var(--corner-round)) center;
	background-repeat: no-repeat;
	border-radius: var(--corner-round);
	border: 1px solid var(--light-gray-translucent);
	color: var(--dark-gray);
	font: 100% var(--font-system);
	height: var(--control-height);
	margin-left: var(--grid-size);
	padding: var(--grid-size) calc(var(--grid-size) + 16px) var(--grid-size)
		var(--grid-size);
	transition: background-color 0.3s;
}

.text-select.orientation-vertical > label {
	align-items: flex-start;
	flex-direction: column;
}

.text-select.orientation-vertical > label > select {
	margin-left: 0;
	margin-top: var(--grid-size);
}
