@import '../../styles/colors.css';
@import '../../styles/metrics.css';
@import '../../styles/typography.css';

.text-line > label {
	align-items: center;
	display: inline-flex;
}

.text-line > label > input {
	/* background: var(--pure-white); */
	background: var(--white-translucent);
	border: 1px solid var(--light-gray);
	border-radius: var(--corner-round);
	color: var(--dark-gray);
	flex-grow: 1;
	font: 100% var(--font-ui);
	height: var(--control-height);
	margin-left: var(--grid-size);
	padding: var(--grid-size);
}

.text-line.orientation-vertical > label {
	align-items: flex-start;
	flex-direction: column;
}

.text-line.orientation-vertical > label > input {
	margin-left: 0;
	margin-top: var(--grid-size);
}

.text-line.type-search > label > input {
	border-radius: calc(var(--control-height) / 2);
}
