@import '../../common/colors.less';
@import '../../common/metrics.less';

body.marqueeing * {
	cursor: crosshair !important;
}

body.marqueeing .drop {
	display: none !important;
}

#storyEditView .marquee {
	z-index: 3;
	position: absolute;
	border: @len-hairline solid lighten(@color-link, 40%);
	border-radius: 2px;
	background: fadeout(@color-link, 95%);
}
