<header>
	<h2>
	<%= s('Stylesheet') %>
	</h2>

	<button class="close" data-modal="close">
		<i class="fa fa-remove"></i>
	</button>
</header>

<p>
<%= s('Any CSS entered here will override the default appearance of your story.') %>
</p>

<div class="expand">
	<textarea class="stylesheetSource"><%= stylesheet %></textarea>
</div>
