<!DOCTYPE html>
<html data-app-name="<%- htmlWebpackPlugin.options.package.name %>" data-version="<%- htmlWebpackPlugin.options.package.version %>" data-build-number="<%- htmlWebpackPlugin.options.buildNumber %>">
<head>
	<title>Twine</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta charset="utf-8">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-title" content="Twine">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<link rel="apple-touch-icon" sizes="180x180" href="rsrc/ios-icon-180.png">
	<link rel="shortcut icon" href="rsrc/favicon.ico" type="image/x-icon">
	<% if (htmlWebpackPlugin.options.cdn) { %>
		<link href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.4.0/codemirror.min.css" rel="stylesheet" media="screen">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.4.0/addon/hint/show-hint.min.css" rel="stylesheet" media="screen">
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" media="screen">
	<% } %>
	<link href="twine.css" rel="stylesheet" media="screen">
</head>
<body>
	<div id="main"></div>

	<% if (htmlWebpackPlugin.options.cdn) { %>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.4.0/codemirror.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.4.0/addon/display/placeholder.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.4.0/addon/hint/show-hint.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.4.0/addon/hint/css-hint.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.4.0/addon/hint/javascript-hint.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.4.0/mode/css/css.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.4.0/mode/javascript/javascript.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jed/1.1.1/jed.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment-with-locales.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/svg.js/1.0.1/svg.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether-drop/1.4.2/js/drop.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.28/vue.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/vue-router/0.7.13/vue-router.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/vuex/1.0.1/vuex.min.js"></script>
	<% } %>

	<script src="twine.js"></script>
</body>
</html>
