.drop {
	z-index: 1000;
	display: none;
	transition: 0.2s opacity ease-out;
	background-color: white;
	border-radius: 0.5em;
	box-shadow: 0 0.1em 0.25em hsla(0, 0%, 0%, 0.5);

	&.drop-open {
		display: block;
	}
}
