@import '../../common/depth.less';
@import '../../common/metrics.less';

.story-item {
	width: 11rem;
	margin-right: @len-extra-large;
	margin-bottom: @len-extra-large;

	.preview
	{
		height: 11rem;
		.shadow-medium;

		svg {
			padding: @len-small;
		}
	}

	.controls {
		button {
			text-align: left;
			padding-left: 0;
			padding-right: 0;
		}

		h2, p {
			margin: 0;
		}
	}
}
