@import '../../common/colors.less';
@import '../../common/metrics.less';

#notifications {
	position: fixed;
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 2000;
	top: @len-large;
	left: @len-large;
	right: @len-large;

	.bubble.notification {
		position: static;
		display: flex;
		padding: 0;
		flex-direction: row;
		align-items: center;
		margin-bottom: @len-medium;

		&:before {
			font-family: FontAwesome;
			color: darken(@color-link, 10%);
			content: '\f05a'; // fa-info-circle
			display: block;
			margin-left: @len-large;
			margin-right: @len-large;
		}

		&.success:before {
			color: darken(@color-create, 10%);
			content: '\f058'; // fa-check-circle
		}

		&.danger:before {
			color: darken(@color-danger, 10%);
			content: '\f06a'; // fa-exclamation-circle
		}

		.message {
			flex-grow: 1;
		}

		button.close {
			margin-left: @len-large;
			margin-right: 0;
			border-radius: 0 @len-small @len-small 0;
			padding-left: @len-large;
			padding-right: @len-large;
		}

		&.success .icon {
			color: darken(@color-create, 5%);
		}

		&.danger .icon {
			color: darken(@color-danger, 5%);
		}
	}
}
