@import '../../styles/colors.css';

.graph-paper {
	background-color: var(--graph-paper-bg);
	background-image: linear-gradient(
			to right,
			var(--graph-paper-major-line) 1px,
			transparent 1px
		),
		linear-gradient(
			to bottom,
			var(--graph-paper-major-line) 1px,
			transparent 1px
		),
		linear-gradient(
			to right,
			var(--graph-paper-minor-line) 1px,
			transparent 1px
		),
		linear-gradient(
			to bottom,
			var(--graph-paper-minor-line) 1px,
			transparent 1px
		);
	position: absolute;
	transform-origin: top left;
}
