#localeView {
	.prompt {
		text-align: center;
		font-size: 120%;
	}

	button {
		width: 10em;
		text-align: center;

		img {
			height: 5em;
			width: auto;
			display: block;
			margin: 0.5em auto;
			border-radius: 0.25em;
			border: 1px solid hsl(0, 0%, 90%);
			box-shadow: 0 0 1px hsl(0, 0%, 90%);
		}
	}

	ul {
		list-style-type: none;
		text-align: center;
		margin-left: 0;
		padding-left: 0;

		li {
			display: inline;
		}
	}
}

