<div id="welcomeView">
	<div class="hi" transition="fade-in-out">
		<h1>
			{{ 'Hi!' | say }}
		</h1>

		<p class="larger">
			{{ 'Twine is an open-source tool for telling interactive, nonlinear stories. There are a few things you should know
			before you get started.' | say }}
		</p>

		<p class="buttons">
			<button class="primary" @click="next">{{ 'Tell Me More' | say }}</button>
			<a href="javascript:void(0)" class="button" @click="finish">{{ 'Skip' | say }}</a>
		</p>
	</div> <!-- .hi -->

	<div class="help" v-if="shown > 1" transition="fade-in-out">
		<h1>
			{{ 'New here?' | say }}
		</h1>

		<p class="larger">
			{{{ "&lt;strong&gt;If you've never used Twine before,&lt;/strong&gt; then welcome! The &lt;a
			href=\"http://twinery.org/2guide\" target=\"_blank\"&gt;Twine 2 Guide&lt;/a&gt; and the official wiki in general,
			are a great place to learn. Keep in mind that some articles on the wiki were written for Twine 1, which is a little
			bit different than this version. But most of the concepts are the same." | say }}}
		</p>

		<p class="larger">
			{{{ '&lt;strong&gt;If you have used Twine 1 before,&lt;/strong&gt; the guide also has details on what has changed in
			this version. Chief among them is a new default story format, Harlowe. But if you find you prefer the Twine 1
			scripting syntax, try using SugarCube instead.' | say }}}
		</p>

		<p class="buttons">
			<button class="primary" @click="next">{{ 'OK' | say }}</button>
		</p>
	</div> <!-- .help -->

	<div class="save" v-if="shown > 2 && !isElectron" transition="fade-in-out">
		<h1>
			{{ 'Your work is saved only in your browser.' | say }}
		</h1>

		<p class="larger">
			{{{ "That means you don't need to create an account to use Twine 2, and everything you create isn't stored on a
			server somewhere else &mdash; it stays right in your browser." | say }}}
		</p>

		<p class="larger">
			{{{ "Two &lt;b&gt;very important&lt;/b&gt; things to remember, though. Since your work is saved only in your
			browser, if you clear its saved data, then you'll lose your work! Not good. Remember to use that &lt;i class=\"fa
			fa-briefcase\"&gt;&lt;/i&gt;&nbsp;&lt;strong&gt;Archive&lt;/strong&gt; button often. You can also publish individual
			stories to files using the &lt;i class=\"fa fa-cog\"&gt;&lt;/i&gt; menu on each story in the story list. Both
			archive and story files can always be re-imported into Twine." | say }}}
		</p>

		<p class="larger">
			{{{ "Secondly, &lt;b&gt;anyone who can use this browser can see and make changes to your work&lt;/b&gt;. So if
			you've got a nosy kid brother, look into setting up a separate profile for yourself." | say }}}
		</p>

		<p class="buttons">
			<button class="primary" @click="next">{{ 'OK' | say }}</button>
		</p>
	</div> <!-- .save -->

	<div class="save" v-if="shown > 2 && isElectron" transition="fade-in-out">
		<h1>
			{{ 'Your work is automatically saved.' | say }}
		</h1>

		<p class="larger">
			{{{ "There's now a folder named Twine in your Documents folder. Inside that is a Stories folder, where all your work
			will be saved. Twine saves as you work, so you don't have to worry about remembering to save it yourself. You can
			always open the folder your stories are saved to by using the &lt;b&gt;Show Library&lt;/b&gt; item in the
			&lt;b&gt;Twine&lt;/b&gt; menu." | say }}}
		</p>

		<p class="larger">
			{{ "Because Twine is always saving your work, the files in your story library will be locked from editing while
			Twine is open." | say }}
		</p>

		<p class="larger">
			{{ "If you'd like to open a Twine story file you received from someone else, you can import it into your library
			using the &lt;i class=\"icon-upload-alt\"&gt;&lt;/i&gt; &lt;b>Import From File&lt;/b> link in the story list.") |
			say }}
		</p>

		<p class="buttons">
			<button class="primary" @click="next">{{ 'OK' | say }}</button>
		</p>
	</div> <!-- .save -->

	<div class="thanks" v-if="shown > 3" transition="fade-in-out">
		<h1>
			{{ "That's it!" | say }}
		</h1>

		<p class="larger">
			{{ 'Thanks for reading, and have fun with Twine.' | say }}
		</p>

		<p class="buttons">
			<button class="primary" @click="finish">{{ 'Go to the Story List' | say }}</button>
		</p>
	</div> <!-- .thanks -->
</div>