<div id="welcomeView">
	<transition name="fade-in-out">
	<div class="hi" >
		<h1>
		{{ 'Hi!' | say }}
		</h1>

		<p class="larger">
			{{ 'Twine is an open-source tool for telling interactive, nonlinear stories. There are a few things you should know before you get started.' | say }}
		</p>

		<p class="buttons">
			<button class="primary" @click="next">{{ 'Tell Me More' | say }}</button>
			<a href="javascript:void(0)" class="button" @click="finish">
				{{ 'Skip' | say }}
			</a>
		</p>
	</div> <!-- .hi -->
	</transition>

	<transition name="fade-in-out">
	<div class="help" v-if="shown > 1">
		<h1>
			{{ 'New here?' | say }}
		</h1>

		<p class="larger" v-html="neverUsed"></p>

		<p class="larger" v-html="twineForum"></p>

		<p class="larger" v-html="usedBefore"></p>

		<p class="buttons">
			<button class="primary" @click="next">{{ 'OK' | say }}</button>
		</p>
	</div> <!-- .help -->
	</transition>

	<transition name="fade-in-out">
	<div class="save" v-if="shown > 2">
		<h1>
			{{ 'Your work is saved only in your browser.' | say }}
		</h1>

		<p class="larger" v-html="noAccountNeeded"></p>

		<p class="larger" v-html="thingsToRemember"></p>

		<p class="larger" v-html="localStorage"></p>

		<p class="buttons">
			<button class="primary" @click="next">{{ 'OK' | say }}</button>
		</p>
	</div> <!-- .save -->
	</transition>

	<transition name="fade-in-out">
	<div class="thanks" v-if="shown > 3">
		<h1>
		{{ "That's it!" | say }}
		</h1>

		<p class="larger">
		{{ 'Thanks for reading, and have fun with Twine.' | say }}
		</p>

		<p class="buttons">
		<button class="primary" @click="finish">{{ 'Go to the Story List' | say }}</button>
		</p>
	</div> <!-- .thanks -->
	</transition>
</div>
