<header>
	<h2>
	<%= s('JavaScript') %>
	</h2>

	<button class="close" data-modal="close">
		<i class="fa fa-remove"></i>
	</button>
</header>

<p>
<%= s("Any JavaScript entered here will immediately run when your story is opened in a Web browser.") %>
</p>

<div class="expand">
	<textarea class="scriptSource"><%= script %></textarea>
</div>
